.report-section{
    position: relative;
    top:-7px;
}
.from-date-picker{
    border: 5px solid #3e3e4b;
}
.from-date-btn{
    padding: 1px 10px;
    background-color: #31313a !important;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}
.from-date-calender{
    font-size: 15px;
}
.submit-btn-report{
    position: relative;
    margin-left: -27px;
    top: -20px;
    padding: 4px 10px;
}
.customer-report-widget{
    margin-left: -15px;
}
