<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

  <form name="form" #f="ngForm" >

  <div class="row d-flex section-position" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
    <div class="col-12 mt-3 align-self-stretch">
      <div class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md report-section text-white-background mr-2">{{'HOME.REPORT'|translate}}</span>

        <div class="row">
          <div class="col-md-3 form-group">
            <label>{{'HOME.SLTREPORT'|translate}}:</label>
            <div class="input-group">
                <select class="form-control support-input-class"  (change)="OnChange($event.target.value)" name="reportval" [(ngModel)]="reportarray" required>
                  <option hidden value="selectreport" disabled >{{'HOME.SLTRPTCATEGRY'|translate}}</option>
                  <option  *ngFor="let item of reportlist1" [value]="item.ID" >{{item.VIEW_NAME_SHOW}}</option>
                </select>
            </div>
          </div>
        </div>
  <div *ngIf="show!=1" >
    <div class="row">
          <div class="col-md-3 form-group pL0">
            <label>{{'HOME.FRMDT'|translate}}:</label>
            <div class="input-group input-group-calender">
                <input  class="form-control support-input-class" placeholder=""
                       name="dp" [(ngModel)]="fromdate" [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'  ngbDatepicker #ds="ngbDatepicker" (click)="ds.toggle()">
                <div class="input-group-append from-date-picker">
                  <button class="btn btn-secondary from-date-btn" (click)="ds.toggle()" type="button">
                      <i class="fa fa-calendar from-date-calender" aria-hidden="true"></i>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group pL0">
              <label>{{'HOME.TODT'|translate}}:</label>
              <div class="input-group input-group-calender">
                  <input  class="form-control support-input-class" placeholder=""
                         name="dp" [(ngModel)]="todate" [maxDate]='{year:currentYear,month:currentMonth,day:currentDay}'  bsDaterangepicker
                          ngbDatepicker #do="ngbDatepicker" (click)="do.toggle()">
                  <div class="input-group-append from-date-picker">
                    <button class="btn btn-secondary from-date-btn" (click)="do.toggle()"  type="button">
                        <i class="fa fa-calendar from-date-calender" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
          </div>
</div>
</div>
<div *ngIf="show==1">
    <div class="row ">
        <div class="col-md-3 form-group">
            <select class="form-control support-input-class"   [(ngModel)]="selectyear" name="yearname">
            <option class="form-control support-input-class" hidden value="fyear" disabled >{{'HOME.SLTFINANYR'|translate}}</option>
            <option *ngFor="let itemyear of fiancialyear"  [value]="itemyear.YEAR" >{{itemyear.FINANCIAL_YEAR}}</option>
          </select>
        </div>
    </div>
</div>
  <div class="col-md-3">
    <div>&nbsp;</div>
    <div class="col-md-12">
      <button  type="submit" class="btn btn-green submit-btn-report" style="margin-top: 4.5%" (click)="finddata(datavalue,reportarray,1)" >{{'HOME.SBMT'|translate}}</button>
    </div>
  </div>
    </div>
  </div>
</div>
</form>
<div class="text-white" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
  <div class="col-12 mt-3 align-self-stretch">
    <div class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100 customer-report-widget">
      <span class="font-md text-white-background mr-2">{{'HOME.CUSTORPTWDGT'|translate}}</span>
      <a *ngIf="showExportButton==1" class="btn btn-sm btn-primary" style="cursor: pointer;margin-left: 750px;margin-bottom: 20px;margin-top: 20px;" id="downloadCSVBtn" href="{{downloadUrl}}" target="_blank" download>{{'HOME.EXPORTCSV'|translate}}</a>
      <div class="table-responsive-sm">

          <div *ngIf="this.repu ==3; else restOfTheTable">
              <table class="table table-sm table-hover" id="reportTable">
            <tr >
              <th *ngFor="let data of fundingheader">{{data[0]}}</th>
            </tr>
            <tr >
              <td *ngFor="let data of fundingheader">{{data[1]}}</td>
            </tr>
            </table>
          </div>

          <ng-template #restOfTheTable>
              <table class="table table-sm table-hover" id="reportTable">
                  <tr class="bg-black text-white">
                  <th *ngFor="let datas of datastore">{{datas}}</th>
                  </tr>

                  <tr *ngFor="let data of fundingheader;index as index" id="{{index+1}}" class="tableRow tableRow_{{index+1}}">
                    <td *ngFor="let count of data;index as i">{{data[i]}}</td>
                  </tr>
                </table>
          </ng-template>
       <!-- <span>{{datastore}}</span>-->
        <!-- <table class="table table-sm table-hover" id="reportTable">
          <tr class="bg-black text-white">
          <th *ngFor="let datas of datastore">{{datas}}</th>
          </tr>

          <tr>
            <td *ngFor="let data of fundingheader;index as index">{{data[1]}}</td>
          </tr>
        </table> -->
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-sm-right btn-group btn-group-sm pagination_div" role="group" aria-label="transaction-history">
            <!-- <ngb-pagination [collectionSize]="collection" [(page)]="page" [directionLinks]="false" (click)="pager(page);" ></ngb-pagination> -->
            <div class="btn-group">
                <button class="btn btn-info" (click)="pager(1)" [disabled]="page==1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </button>
              <button class="btn btn-info" (click)="pagerPre(page)" [disabled]="page==1">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
              </button>
              <button class="btn btn-info {{page==p?'active':''}} {{((p<page+5)&&(p>page-5))?'':'d-none'}}" (click)="pager(p);" *ngFor="let p of pagiArr">{{p}}</button>
              <button class="btn btn-info" (click)="pagerNext(page)" [disabled]="page==pagiArr.length">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
              </button>
              <button class="btn btn-info" (click)="pager(pagiArr.length)" [disabled]="page==pagiArr.length">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row mt-3">

        <div class="col-12 paginationButton text-right">
          <button *ngIf="showPrevButton==1" class="btn btn-sm btn-secondary mr-2 prev" (click)="showPreviousList()">Previous</button>
          <button *ngIf="showNextButton==1" class="btn btn-sm btn-secondary next" (click)="showNextList()">Next</button>
          <button  *ngIf="pagiLength>7" class="btn btn-sm btn-secondary ml-2" (click)="showPreviousList()">Prev</button>
          <button *ngFor="let item of pagiArr; index as i "  class="btn btn-sm btn-secondary ml-2" (click)="pagi(i+1)">{{i+1}}</button>
          <button  *ngIf="pagiLength>7" class="btn btn-sm btn-secondary ml-2" (click)="showNextList()">Next</button>
        </div>
      </div> -->
   </div>
 </div>

 <!-- pagenation start -->

<!-- pagenation end -->
</div>


<!-- excel -->
 <!-- <div class="row" style="margin-top: 3%" *ngIf="datastore != null">

      <div class="col-md-3   form-group" style="margin-left: 40%;">
        <label>Select </label>
        <div class="input-group" >
            <select class="form-control" [(ngModel)]="selectpdf" required>
              <option  hidden value="selectoption" disabled>Select one option</option>
              <option>Excel</option>
              <option>Csv</option>
              <option>Pdf</option>
            </select>
        </div>
      </div>
      <div class="col-md-4" >
        <button class="btn btn-success" style="margin-top: 7%">Submit</button>
      </div>

</div> -->

