<app-navbar></app-navbar>
<app-loader></app-loader>
<div class="content-wrapper pt-0 pl-3">


  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="bankDetailsCtrl">
    <div class="col-lg-8 col-12 bank-alighnment align-self-stretch">
      <div class="custom-bg-dark p-2 bank-from rounded h-100"> <span class="font-md text-white-background mr-2 pl-3">{{'HOME.BNKDTLS'|translate}}</span>
        <!-- <div class="w-100"></div> -->
        <div *ngIf="main.bankDetailStatus =='Bank details verified'">
        <p *ngIf="translate.currentLang=='English'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">{{main.bankDetailStatus}}</span>
      </p>
      <p *ngIf="translate.currentLang=='Turkish'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">Banka detayları onaylanmıştır</span>
      </p>
    </div>
    <div *ngIf="main.bankDetailStatus =='Bank details not submitted'">
      <p *ngIf="translate.currentLang=='English'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">{{main.bankDetailStatus}}</span>
      </p>
      <p *ngIf="translate.currentLang!='English'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">Banka detayları sisteme girilmedi.</span>
      </p>
    </div>
    <div *ngIf="main.bankDetailStatus =='Bank details submitted for Verification'">
      <p *ngIf="translate.currentLang=='English'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">{{main.bankDetailStatus}}</span>
      </p>
      <p *ngIf="translate.currentLang!='English'">
        <span class='font-bold mr-2 pl-3 bank-details' style="color:#549426;">Banka detayları sisteme girilmedi.</span>
      </p>
    </div>
        <form id="bankDetailsForm" (ngSubmit)="f.form.valid && updateBankDetails(confirm)" #f="ngForm">
          <ul class="list-group">
            <li class="list-group-item bank-details-alighnment bg-transparent">
              <div class="form-row">
                <label for="beneficiary_name">{{'HOME.ACCNTHLDNME'|translate}}</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" placeholder="{{'HOME.ACCNTHLDNME'|translate}}" id="beneficiary_name"
                    placeholder="Account holder's Name" [(ngModel)]="beneficiary_name" name="beneficiary_name" (change)="checkBankInputfield('beneficiary_name')"
                    required #name="ngModel">
                  <!--pattern="[A-Za-z]{2,}"-->
                </div>
                <div *ngIf="f.submitted && name.invalid">
                  <div *ngIf="name.errors.required" class="text-danger">Beneficiary Name is required</div>
                  <div *ngIf="name.errors.pattern" class="text-danger">Beneficiary Name cannot contain numbers</div>
                </div>
              </div>
              <div class="form-row">
                <label for="bank_name">{{'HOME.BNKNAME'|translate}}</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="bank_name" [(ngModel)]="bank_name" name="bank_name"
                    placeholder="{{'HOME.BNKNAME'|translate}}" (change)="checkBankInputfield('bank_name')" required #bank="ngModel">
                </div>
                <div *ngIf="f.submitted && bank.invalid">
                  <div *ngIf="bank.errors.required" class="text-danger">Bank name is required</div>
                  <div *ngIf="bank.errors.pattern" class="text-danger">Bank name cannot contain numbers</div>
                </div>
              </div>
              <div class="form-row">
                <label for="account_number">{{'HOME.ACCNTNUM'|translate}}</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="account_no" [(ngModel)]="account_no" name="account_no"
                    placeholder="{{'HOME.ACCNTNUM'|translate}}" (change)="checkBankInputfield('account_no')" required #ac="ngModel"
                    pattern="[0-9]{3,}" [class.is-invalid]="ac.dirty&&ac.invalid">
                </div>
                <div *ngIf="f.submitted && ac.invalid">
                  <div *ngIf="ac.errors.required" class="text-danger">Account number is required</div>
                  <div *ngIf="ac.errors.pattern" class="text-danger">Account number cannot contain alphabets</div>
                </div>
              </div>
              <div class="form-row">
                <label for="IFSC_code">{{'HOME.ROUTNGNUM'|translate}}</label>
                <div class="input-group mb-2">
                  <input type="text" class="form-control" id="routing_no" placeholder="{{'HOME.ROUTNGNUM'|translate}}" [(ngModel)]="routing_no"
                    name="routing_no" (change)="checkBankInputfield('routing_no')" required #rtn="ngModel" pattern="[0-9]{3,}" [class.is-invalid]="rtn.dirty&&rtn.invalid">
                </div>
                <div *ngIf="f.submitted && rtn.invalid">
                  <div *ngIf="rtn.errors.required" class="text-danger">Routing number is required</div>
                  <div *ngIf="rtn.errors.pattern" class="text-danger">Routing number cannot contain alphabets</div>
                </div>
              </div>
              <p><small>{{'HOME.BNKACNTMSG'|translate}}</small>
              </p>
              <p><small>{{'HOME.DEPOSITMSG'|translate}}</small></p>
              <div class="form-row mt-2 mb-2">
                <button type="submit" class="btn btn-green-paynow" [disabled]="f.form.pristine">{{'HOME.SVCHNGES'|translate}}</button>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

</div>

<ng-template #confirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Editing these details will restrict some features until verification.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">No</button>
    <button type="button" class="btn btn-warning" (click)="modal.close(); yesConfirm();">Yes</button>
  </div>
</ng-template>

