
.btn-green-paynow{
  background: #549426 !important;
  border-radius: 1.25rem !important;
}
.bank-details{
  /* color: #489215; */
  position: absolute;
  right: 19px;
  top:15px;
}
.bank-details-alighnment{
border:0;
}
.bank-alighnment{
margin:10px;
}
.bank-from{
position: relative;
}
