<div [ngResizable]="data.resize" class="" id="chartHolder">
  <div>
    <div class="row no-gutters">
      <div class="col-12 col-sm-12 col-md-5">
        <div ngbDropdown class="">
        
          <div class="col-12 col-sm-12 col-md-12 font-sm" *ngIf="tools"
          style="border: 0px solid red; height:30px;">
          <div *ngIf="selectedBuyingAssetText !='BCC'">
            <!-- <span class="float-left mt-2 pl-2 plist" style="font-size:14px;">1 {{data.selectedBuyingAssetText | uppercase}} = {{data.cur}} -->
            <span class="float-left mt-2 pl-2 plist" style="font-size:14px;">{{'HOME.LASTPRC'|translate}}:
              <!--<span *ngIf="data.ACTION == 'buy'; else 'buy_value'">
                <ng2-odometer style="color:red;" else style="color:rgb(4, 146, 28);" [number]="ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>/
                <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
              </span> -->

              <span *ngIf="data.ACTION == 'buy'; else buy_value">
                <ng2-odometer style="color:red;" else style="color:rgb(4, 146, 28);" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> /
                <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
             </span>
 
             <ng-template #buy_value>
               <ng2-odometer style="color:rgb(4, 146, 28);" else style="color:red;" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> /
               <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
             </ng-template>
              
              <span style="margin-left: 2%" style="font-size: 14px;">&nbsp;{{'HOME.ROC'|translate}} :</span>
              <small class="font-sm ml-2" *ngIf="data.negetive != true"
              style="color:rgb(4, 146, 28); font-size: 14px;">{{data.rocdata}}</small>
              <small class="font-sm ml-2" *ngIf="data.negetive  == true" style="color:red; font-size: 14px;">{{data.rocdata}}</small>
            </span>
           
          </div>

           <div *ngIf="selectedBuyingAssetText =='BCC'">
            <span class="float-left mt-2 pl-2" style="font-size:14px;">1 BCH = {{data.cur}}
              <!-- <span >
                <ng2-odometer style="color:red;" else style="color:rgb(4, 146, 28);" [number]="ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>/
                <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
              </span> -->

              <span *ngIf="data.ACTION == 'buy'; else buy_value">
                <ng2-odometer style="color:red;" else style="color:rgb(4, 146, 28);" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>/
                <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
             </span>
 
             <ng-template #buy_value>
               <ng2-odometer style="color:rgb(4, 146, 28);" else style="color:red;" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>/
               <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
             </ng-template>

              <small class="font-sm ml-2" *ngIf="data.rocreact == true"
                style="color:rgb(4, 146, 28); font-size: 14px;">{{data.rocdata}}</small>
              <small class="font-sm ml-2" *ngIf="data.negetive  == true" style="color:red; font-size: 14px;">{{data.rocdata}}</small>
            </span>
          </div>
          <p style="line-height: 33px;border: 0px solid blue" class="vasset">
            <span style="margin-left: 2%" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;{{'HOME.24H'|translate}}:</span>
            <small class="font-sm ml-2" style="font-size: 14px; color: #fff;">&nbsp;{{data.volumndata}}</small>
          </p>
        </div>
        </div>
      </div>

    </div>
    <div class="w-100 mb-2"></div>

  </div>
</div>
<!-- </div>graph section end -->