<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="login-text text-blue">
    <span class="p-3 mb-0" style="color: #564fdc; font-size:21px;">{{'HOME.OTPVERF'|translate}}</span>
    <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
  </div>
    <div class="card-header text-center text-blue p-0">
    <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}}</h5></div>
    <div class="card-body p-3">
      <form name="otp_form" data-ng-controller="formCtrl" id="otp_form"  novalidate>
        <div class="form-group">
          <label for="loginInputPassword">{{'HOME.ENTEROTP'|translate}}</label>
          <input class="form-control" id="loginInputOTP" type="password" [(ngModel)]="otp" name="otp" placeholder="OTP" (keyup)="onKeyupSendOtp()" required>
        </div>
        <p>{{'HOME.OTPMSG2'|translate}}</p>
        <button type="button" (click)="resendOtp()" class="float-right resend-otp-btn">{{'HOME.RESNDOTP'|translate}}</button>
      </form>

    </div>

  </div>
</div>
 