.modal-content{
    background: red !important;
}
.btn-danger{
    color: #fff !important;
    background-color: #c82333 !important;
    border-color: #bd2130 !important;
}
.logo-deaitls{
    color: #fff !important;
    font-size: 22px;
    padding: 0px 0;
}
.logo-deaitls .fa-btc{
    margin: 0 0 0 5px;
    color: #fff;
}

.logo-deaitls img {
    width: 62%;
    max-width: 100%;
  }
  .navbar-dark .navbar-brand {
    background: #24262d;
    padding: 5px .6125rem;
}
.nav-item{position: relative;}
.navbar-nav .nav-item:first-child:before{display:none;}
.nav-item:before{content:"";position: absolute;left:0;top:11px;height:20px;background:#3e3838;}
 .navbar-sidenav_new .nav-item:before{display:none;}
.test{
      background-color: #24242a;
  }
  .modal-body{
    padding: 30px;
    background-color: #31313a;
    margin: 25px 30px;
  }
  button.btn.btn-gray{
      margin: 17px;
  }
  .btn-gray{background:#464655 !important; border-radius: 1.25rem !important; width: auto;}
  .modal-header{
      border-bottom: 0 !important;
  }
  .modal-header .close{
    margin-top: -6rem;
    margin-right: -18px;
    border-radius: 50%;
    background-color: #696975;
    padding: 0.7rem 1rem;
  }

  .navbar-sidenav:hover,
  .navbar-sidenav:focus {
      width: 230px;
  }
  .modal-body.test p{
    color: #fff;
    font-size: 17px;
  }
  /* .dashboardbasic{
    background: #d85414 !important;
    border-radius: 1.25rem !important;
    width: 100px;
    padding: 6px;
    margin-left: -78px;
  }
 .dashboardbasic a:hover {
    color: #00b31e;
   
} */
.dashboardbasic {
    background: #464654!important;
    border-radius: 1.25rem !important;
    width: auto;
    padding: 5px 35px 10px;
    margin-left: -27px;
    color: #71c089!important;
    /* font-weight: 500; */
    text-decoration: none !important;
}
.dashboard{
    background: #464654!important;
    border-radius: 1.25rem !important;
    width: auto;
    padding: 5px 35px 10px;
    margin-left: -78px;
    color: #ff8a00!important;
    /* font-weight: 500; */
    text-decoration: none !important;
}
/* .dashboardbasic:hover,
.dashboardbasic:focus {
    background: rgb(86, 79, 220) !important;
    color: #fff;
    font-weight: 500;
    text-decoration: none !important;
} */
#modal-basic-title{
    margin:20px;
    color:#fff;
}
.proper-alighnment-header{
    padding: 0;
}

