<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

        <div class="row d-flex" data-ng-controller="historyCtrl" data-ng-init="loginDuration();">
                <div class="col-12 mt-3 align-self-stretch">
                  <div class="custom-bg-dark p-2 pl-3 pr-3 rounded h-100">
                    <div class="d-flex">
                      <div class="p-2 mr-auto"><span class="font-md text-white-background mr-2">{{'HOME.TRNSACHSTRY'|translate}}</span></div>
                      <div class="p-2">
                        <div class="btn-group btn-group-sm" role="group" aria-label="transaction-history">
                          <button type="button" class="btn btn-dark font-xs filter-button all_btn btn_active" (click)="getDuration('all')">{{'HOME.ALL'|translate}}</button>
                          <button type="button" class="btn btn-dark font-xs filter-button last_week_btn" (click)="getDuration('last week')">{{'HOME.LSTWK'|translate}}</button>
                          <button type="button" class="btn btn-dark font-xs filter-button last_month_btn" (click)="getDuration('last month')">{{'HOME.LSTMNTH'|translate}}</button>
                          <!--<button type="button" class="btn btn-dark font-xs filter-button btn_active" data-ng-click="getDuration('one_day')">1D</button>-->
                        </div>
                      </div>
                    </div>
                    <div class="w-100 mt-2"></div>
                    <div class="table-responsive-sm">
                      <table class="table table-sm table-hover">
                        <thead>
                          <tr class="bg-black text-white">
                            <th scope="col">{{'HOME.DTTME'|translate}}</th>
                            <th scope="col">{{'HOME.TRXNID'|translate}}</th>
                            <th scope="col">{{'HOME.TYP'|translate}}</th>
                            <th scope="col">{{'HOME.ASST'|translate}}</th>
                            <th scope="col">{{'HOME.STATUS'|translate}}</th>
                          </tr>
                        </thead>
                        <tbody class="historyTableBody">
                            <tr>
                                <td colspan="5" class="text-center py-3">
                                  <!-- <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> -->
                                  <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                                </td>
                              </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="float-sm-right btn-group btn-group-sm pagination_div" role="group" aria-label="transaction-history">
                          <!-- <ngb-pagination [collectionSize]="collection" [(page)]="page" [directionLinks]="false" (click)="pager(page);" ></ngb-pagination> -->
                          <div class="btn-group">
                              <button class="btn btn-info" (click)="pager(1)" [disabled]="page==1">
                                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                              </button>
                            <button class="btn btn-info" (click)="pagerPre(page)" [disabled]="page==1">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-info {{page==p?'active':''}} {{((p<page+5)&&(p>page-5))?'':'d-none'}}" (click)="pager(p);" *ngFor="let p of main.pgn">{{p}}</button>
                            <button class="btn btn-info" (click)="pagerNext(page)" [disabled]="page==main.pgn.length">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-info" (click)="pager(main.pgn.length)" [disabled]="page==main.pgn.length">
                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
</div>
