<div class="container-wrap">
  <label class="lang-setting">
    <label class="space-lag">Select Language</label>

    <select #langSelect (change)="translate.use(langSelect.value);Selectedlangulage(langSelect.value)">
     <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
   </select>

 </label>

<div class="container header-container">
    <div class="card card-login mx-auto mt-3">

          <div class="login-text text-blue">
            <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">{{'HOME.LOGIN'|translate}}</span>
            <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
          </div>
          <div>
            <!-- <h2>{{ 'HOME.TITLE' | translate }}</h2> -->

          </div>
        <div class="card-body user-credentials p-3">
                        <form name="login_form">
                            <span class="text-center" style="color: #f94e26;">{{logoutReason}}</span>
                            <div class="form-group">
                              <label for="loginInputEmail">{{'HOME.EADD'|translate}}</label>
                              <p *ngIf="translate.currentLang == 'English'">
                                <input class="form-control registration-input" name="email" id="email" type="email" [(ngModel)]="email"  placeholder="Email" autofocus>
                              </p>
                             <p *ngIf="translate.currentLang != 'English'"><input class="form-control registration-input" name="email" id="email" type="email" [(ngModel)]="email"  placeholder="E-Posta" autofocus></p>
                            </div>

                            <div class="form-group">
                              <label for="loginInputPassword">{{'HOME.PWD'|translate}}</label>
                              <p *ngIf="translate.currentLang == 'English'">
                              <input id="password-field" class="form-control registration-input" name="password" type="password"  [(ngModel)]="password" autocomplete placeholder="Password">
                              </p>
                              <p *ngIf="translate.currentLang != 'English'">
                                <input id="password-field" class="form-control registration-input" name="password" type="password"  [(ngModel)]="password" autocomplete placeholder="Şifre">
                              </p>
                              <span toggle="#password-field" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
                            </div>
                            <div class="form-group otp_segment" *ngIf="otpBlock">
                              <label for="loginInputOTP">OTP</label>
                              <input class="form-control registration-input" id="loginInputOTP" name="otp" type="number" [(ngModel)]="otp" placeholder="OTP" autofocus autocomplete="off" >
                              <small>{{'HOME.OTPSEND'|translate}}</small>
                            </div>
                            <div>
                            <p [hidden]="!error" class="text-password my-3">{{'HOME.LOGINERRORMSG'|translate}}</p>
                          </div>
                            <button type="submit" class="btn btn-block login_btn" (click)="loginData(true,content)" *ngIf="!otpBlock" >
                              {{'HOME.LOGIN'|translate}}
                            </button>

                            <button type="submit" class="btn btn-primary btn-block otp_btn" (click)="loginThroughOtp()" *ngIf="otpBlock">{{'HOME.LOGIN'|translate}}</button>
                          </form>
              <br>
              <p *ngIf="loader" class="text-center">
                <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
              </p>

        <div class="d-flex mt-2">
          <div class="p-1 mr-auto text-center" style="width:100%;">
            <a routerLink="/signup">{{'HOME.LMSG' |translate}}</a>
            <div><a routerLink="/secure-token">{{'HOME.FMSG'|translate}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button (click)="warn(warng)" class="d-none" id="logoutWarn">warn</button> -->
<ng-template #warng class="modal-con" let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">About to Logout</h4>
      <button type="button" class="close" aria-label="Close" id="logoutWarncl" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body"><p id="demo"></p>
      You are going to logout in: Click continue to resume this session.

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close(); data.logout();">Logout</button>
      <button type="button" class="btn btn-success" (click)="modal.close(); data.Stop();" >Continue</button>
    </div>
  </ng-template>

  <ng-template #content let-modal>
    <div class="modal-header modal-header-dialog-box test proper-alighnment-header">
      <h4 class="modal-title" id="modal-basic-title">{{'HOME.OTPVERF'|translate}}</h4>
      <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <p class="text-center">{{'HOME.ENTEROTP'|translate}}</p>
        <input class="inutbox-w" id="loginInputOTP" type="password" [(ngModel)]="otplogin" name="otp" placeholder="OTP" (keyup)="sendloginotp()" required>
      </div>
      <div >
      </div>
      <div class="modal-body test language-class">
        <p>{{'HOME.OTPMSG2'|translate}}</p>
        <button type="button" (click)="resendOtp()" class="float-right resend-otp-btn">{{'HOME.RESNDOTP'|translate}}</button>
    </div>
    <!-- <div class="modal-body test">
      <button type="button" (click)="resendOtp()" class="float-left">{{'HOME.RESNDOTP'|translate}}</button>
      <p>{{'HOME.OTPMSG2'|translate}}</p>
    </div> -->
  </div>
  </ng-template>
  
 
  
 