.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
  }
  .text-password{
    color: #ea4704;
    background-color: #24242a;
    padding: 10px;
  }
  .password-input{
    border-color: #ea4704;
  }
  .lang-setting{
    position: absolute;
    top:0px;
    right:0px;
  }
  .space-lag{
    margin-right: 11px;
  }
  .test{
    background-color: #24242a !important;
}