<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">
  <div class="container-fluid"  data-ng-controller="profileCtrl"  data-ng-init="loginDuration();">
        <div class="row d-flex">
          <div class="col-12 col-md-6 pr-sm-0 mt-3">
            <div class="custom-bg-dark custom-bg-dark-custom p-2 pl-3 pr-3 rounded">
              <span class="font-md text-white-background mr-2">{{'HOME.PROFLDTLS'|translate}}</span>
              <div class="custom-bg-dark-wrap">
                <div class="row">
                  <div class="col-md-4 text-center">
                    <img src="./assets/img/default.png" [lazyLoad]="main.profilePic" offset="100" width="128" height="128" alt="{{main.fullName}}" class="mx-auto img-fluid rounded-circle d-block m-3"> <span class="mb-3">
                      <h5>{{main.fullName}}</h5>
                    </span>
                    <!-- <span class="badge  bg-pbgreen font-sm bg-blue font-weight-normal mb-3 text-white" data-toggle="modal" data-target="#editProfileModal"   (click)="resendOtpForOutgoing(editPro)"
                    ><i class="fa fa-pencil"></i></span> -->
                    <!-- <label class="custom-file">
                      <input type="file" id="file" class="custom-file-input change_profile_pic" data-ng-change="changeProfilePic()"  data-ng-model="change_profile_pic" data-ng-change="changeProfilePic()">
                      <span class="custom-file-control small text-blue" >Edit Profile Picture</span>
                    </label> -->
                  </div>
                  <div class="col-md-4">
                    <h6 class="text-white">{{'HOME.EMLID'|translate}}:</h6>
                    <p class="text-white email-break">{{main.email}}</p>
                    <h6 class="text-white">{{'HOME.ADRES'|translate}}:</h6>
                    <p class="text-white">{{main.address}}</p>
                    <h6 class="text-white">{{'HOME.CUNTRY'|translate}}:</h6>
                    <p class="text-white">{{main.country}}</p>
                  </div>
                  <div class="col-md-4">
                    <h6 class="text-white">{{'HOME.PHNNUM'|translate}}:</h6>
                    <p class="text-white">{{main.phone}}</p>
                    <h6 class="text-white">{{'HOME.JNGDT'|translate}}:</h6>
                    <p class="text-white">{{main.joinDate}}</p>
                   </div>
                   <!-- <div class="custom-bg-dark p-2 rounded h-100"> <span class="font-md text-white-background mr-2 pl-3">{{'HOME.IDNTYVRF'|translate}}</span> -->
                    <div *ngIf="main.indentificationStatus =='Identity verification documents not submitted'">
                      <p *ngIf="translate.currentLang=='English'">
                        <span class='font-bold mr-2 pl-3' style="color:#d6a32d;">{{main.indentificationStatus}}</span>
                    </p>
                    <p *ngIf="translate.currentLang=='Turkish'">
                      <span class='font-bold mr-2 pl-3 bank-details' style="color:#d6a32d;">Kimlik doğrulama belgeleri gönderilmedi . </span>
                    </p>
                  </div>
                   
                    <div *ngIf="main.indentificationStatus =='Identity verification documents verified'">
                      <p *ngIf="translate.currentLang=='English'">
                        <span class='font-bold mr-2 pl-3' style="color:#d6a32d;">{{main.indentificationStatus}}</span>
                    </p>
                    <p *ngIf="translate.currentLang=='Turkish'">
                      <span class='font-bold mr-2 pl-3 bank-details' style="color:#d6a32d;">Kimlik bilgileri onaylanmistir .</span>
                    </p>
                  </div>
                   <div *ngIf="main.indentificationStatus =='Identity verification documents submitted for Verification'">
                    <p *ngIf="translate.currentLang=='English'">
                      <span class='font-bold mr-2 pl-3' style="color:#d6a32d;">{{main.indentificationStatus}}</span>
                  </p>
                  <p *ngIf="translate.currentLang=='Turkish'">
                    <span class='font-bold mr-2 pl-3 bank-details' style="color:#d6a32d;">Kimlik bilgileri sisteme girilmemistir.</span>
                  </p>
                </div>
                  <p><small style="color:#007bff;">{{'HOME.PROFILEMSG'|translate}}</small>
                </div>
              </div>
            </div>
             
          </div>
          <div class="col-12 col-md-6 mt-3">
            <div class="custom-bg-dark custom-bg-dark-custom p-2 pl-3 pr-3 rounded align-self-stretch h-100">

              <!--<div class="alert alert-info alert-dismissable"> <a class="panel-close close" data-dismiss="alert">×</a> This is an <strong>.alert</strong>. Use this to show important messages to the user. </div>-->
              <!--<span class="font-md text-white mr-2">{{fiatBalanceLabel}}</span><span class="font-lg text-green">{{totalFiatBalance}}</span>-->
              <!-- <div class="w-100 mt-2"></div> -->

              <!--<span class="font-md text-white mr-2">Coin Portfolio</span>-->
              <span class="font-md text-white-background mr-2">{{'HOME.BLNC'|translate}}</span>
              <!-- <div class="w-100 mt-2"></div> -->
              <div class="table-responsive-sm">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr class="bg-black text-white balance-list">
                      <th scope="col"><span>{{'HOME.ASST'|translate}}</span></th>
                      <th scope="col"><span>{{'HOME.BLNC'|translate}}</span></th>
                    </tr>
                  </thead>
                  <tbody *ngIf="main.balencelist !=null">
                      <tr [hidden]="main.balencelist">
                          <td colspan="2" class="text-center">
                              <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                          </td>
                        </tr>
                        <tr *ngFor="let b of main.balencelist" class="balance-list">
                          <td class="text-white"><span class="currency-block">{{b.currencyCode|uppercase}}</span></td>
                          <td class="text-white"><span class="currency-block">{{b.closingBalance}}</span></td>
                        </tr>
                  </tbody>
                  <p *ngIf="main.balencelist ==null" style="font-size: large;color: blue;">{{'HOME.USERNOBLNC'|translate}}</p>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid-->
      <footer class="sticky-footer">
        <div class="container">
          <div class="text-center"> <small>Copyright © Mertkaya 2020</small> </div>
        </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top"> <i class="fa fa-angle-up"></i> </a>


</div>

<ng-template #editPro let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit Profile</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-md-4">Name</div>
        <div class="col-md-8"><input type="text" class="form-control" placeholder="Name" [(ngModel)]="editName"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">Email</div>
        <div class="col-md-8"><input type="email" class="form-control" placeholder="Email" [(ngModel)]="editEmail" readonly></div>
      </div>
      <div class="form-group row">
        <div class="col-md-4">OTP</div>
        <div class="col-md-8"><input type="password" class="form-control" placeholder="OTP" [(ngModel)]="editOtp"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-4"></div>
        <div class="col-md-8"><button class="btn btn-success" (click)="updateUserProfileInfo(); modal.close();">Submit</button></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
  </ng-template>