.dragbtn{
  position: relative;
  bottom: 13px;
  margin-right: 98px;
}
.content-wrapper .btn.selected.active{
background:#17a2b8 !important;
}
.asktab{
position: relative;
}
.btn-xe{
font-size: .7rem;
  line-height: 1.5;
  border-radius: .2rem;
  padding: 10px;
}
.trading-part{
position: relative;
height: 400px !important;
}
.pending-purchase{
padding: 1px 10px;
border-bottom: 2px solid #5e5e61;
}
.pending-sales{
padding: 1px 10px;
border-bottom: 2px solid #5e5e61;
}
.ticker{
  background-color: #393946;
  padding: 8px 0;
  border-radius: 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ticker p{
  margin:0;
}
.common-widget{
border-color: #393946;
  background-color: #393946;
  border-radius: 1rem;
}
.navbar-sidenav:hover,
.navbar-sidenav:focus {
    width: 230px;
}
.show-dropdown{
  min-width: 100%;
}
.border-alighnmnet{
  border:0 !important;
  margin-top: 10px;
}
.proper-alighnment{
  padding-top: 20px;
  padding-left: 60px;
}
.proper-alighnment .row {
  margin:0 -5px;
}
.proper-alighnment .col-md-3,.proper-alighnment .col-md-9,.proper-alighnment .col-md-6{
  padding:0 5px;
}
.asktab .custom-bg-dark{
  height: 100%;
  border-radius: 0.25rem;
}
.asktab {
  height: 100%;
}
.asktab td,.asktab th {
  padding: 7px;
  text-align: center;
}
.ask-data-responsive{
  margin-top: 5px;
    padding: 4px;
    height: 293px;
}
.bid-data-responsive{
  padding: 4px;
    height: 293px;
    top:-28px;
}

