<app-navbar></app-navbar>
<div class="proper-alighnment">
<div class="container-fluid">
<div class="row">
<div class="col-md-3">
<div ngbDropdown class="">
  <div>
    <button ngbDropdownToggle type="button" (click)="getNewCurrency()"
      class="dropdown-chart btn btn-ex-sm btn-xe dropdown-toggle btn-block bg-black btn-drpodwn text-left select-coin-dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{this.currency_code}} - {{ this.base_currency}}
    </button>
  </div>
  <div ngbDropdownMenu class="dropdown-menu select-coin-list show-dropdown" id="dropHolder">
    <div class="table coin-select">
      <table style="width: 100%;">
        <tr>
          <th *ngFor="let count of header">
            <img src="{{'../../assets/img/currency/'+ count+'.svg'}}" width="24" alt="" />{{count}}
          </th>

        </tr>
        <p style="width:33.33%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='TRY'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
        <p style="width:33.33%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='BTC'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
        <p style="width:33.33%;float:left;">
          <tr *ngFor="let item of assets">
            <td *ngIf="item.baseCurrency=='USDT'" (click)="buySellCode(item)">
              <a><img src="{{'../../assets/img/currency/'+ item.currencyCode+'.svg'}}" width="24"
                  alt="" />{{item.currencyCode}}/{{item.baseCurrency}}</a>

            </td>
          </tr>
        </p>
      </table>

    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-3"> -->
  <div [ngResizable]="data.resize" class="custom-bg-dark p-2 pl-3 pr-3 stop-loss rounded border-alighnmnet resizable-widget">
    <button (click)="reset()" class="reset d-none">reset</button>
    <ngb-tabset justify="fill" *ngIf="!market" activeId="limit">
      <ngb-tab id="market">
        <ng-template ngbTabContent>
          <ngb-tabset type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span (click)="reset()" class="text-left">{{'HOME.BUY'|translate}}</span>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="tab-pane tab-pan-wrap" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputBuyBTC" class="col-form-label">{{'HOME.BUYNGAMNT'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlyBuyAmount" placeholder="0" [(ngModel)]="onlyBuyAmount" (keyup)="getBuyVal($event)"
                          #bam="ngModel" [class.is-invalid]="bam.dirty&&bam.invalid">
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{data.selectedBuyingAssetText}}
                          </div>
                        </div>
                      </div>
                      <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputBuyUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlyBuyPrice" placeholder="0" [(ngModel)]="onlyBuyPrice" readonly>
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{data.selectedSellingAssetText}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputBuyUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group mb-2">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlyBuyTotalPrice" placeholder="0" [(ngModel)]="onlyBuyTotalPrice" disabled>
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{data.selectedSellingAssetText}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row mb-2 ">
                    <div class="col-12 col-md-8 offset-md-4">
                      <button type="button" id="mbuy" class="btn-green onlyBuyBtn btn" (click)="marketBuy()"
                        [disabled]="bam.pristine || bam.invalid">{{'HOME.BUY'|translate}}</button>
                    </div>
                  </div>
                  <span class="onlyBuyError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                  </span>
                </div>
              </ng-template>
  
            </ngb-tab>
  
            <ngb-tab>
              <ng-template ngbTabTitle>
                <span (click)="reset()" class="text-left">{{'HOME.SELL'|translate}}</span>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="tab-pane tab-pan-wrap" id="market-sell" role="tabpanel" aria-labelledby="market-sell-tab">
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputSellBTC" class="col-form-label">{{'HOME.SELLINGAMNT'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlySellAmount" placeholder="0" [(ngModel)]="onlySellAmount"
                          (keyup)="getSellVal($event)" #sam="ngModel" [class.is-invalid]="sam.dirty&&sam.invalid">
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}
                          </div>
                        </div>
                      </div>
                      <span class="text-danger" *ngIf="sam.dirty&&sam.invalid">{{'HOME.ENTRVALIDAMNT'|translate}}</span>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputSellUSD" class="col-form-label">{{'HOME.PRICE'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlySellPrice" placeholder="0" [(ngModel)]="onlySellPrice" disabled>
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputSellUSD" class="col-form-label">{{'HOME.TOTALPRICE'|translate}}</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group mb-2">
                        <input numeric numericType="decimal" class="form-control form-control-sm rounded"
                          id="inputOnlySellTotalPrice" placeholder="0" [(ngModel)]="onlySellTotalPrice" disabled>
                        <div class="input-group-append">
                          <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row mb-2">
                    <div class="col-12 col-md-8 offset-md-4">
                      <button numeric numericType="decimal" id="msell" class="btn-red onlySellBtn btn"
                        (click)="marketSell()" [disabled]="sam.invalid || sam.pristine">{{'HOME.SELL'|translate}}</button>
                    </div>
                  </div>
                  <span class="onlySellError text-red" style="display:none;">{{'HOME.ORDRBKRCHD'|translate}}
                  </span>
                </div>
              </ng-template>
            </ngb-tab>
  
          </ngb-tabset>
  
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  </div>
  <!-- </div>
</div> -->
<div class="col-md-9">
  <div class="ticker">
    <div>
    <!--<span class="float-left pl-2 ticker-alighnment" style="font-size:14px;">1 {{data.selectedBuyingAssetText | uppercase}} = {{data.cur}} -->
      <!---<span style="color:red;" else style="color:rgb(4, 146, 28);">
        <ng2-odometer [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
      </span> -->
      <span class="float-left pl-2 ticker-alighnment" style="font-size:14px;">{{'HOME.LASTPRC'|translate}}:
      <span *ngIf="data.ACTION == 'buy'; else buy_value">
        <ng2-odometer style="color:red;" else style="color:rgb(4, 146, 28);" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> /
        <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
     </span>

     <ng-template #buy_value>
       <ng2-odometer style="color:rgb(4, 146, 28);" else style="color:red;" [number]="data.ltpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer> /
       <ng2-odometer style="color:red;" else style="color:rgb(251, 255, 2);" [number]="data.ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer>
     </ng-template>

      <small class="font-sm ml-3" style="font-size: 14px;"><i class="fa fa-arrow-up text-green"></i>
        {{data.highprice}}<i class="fa fa-arrow-down text-red"></i>
        <span style="color:red">&nbsp;{{data.lowprice}}</span>
      </small>
      <span style="margin-left: 2%" style="font-size: 14px;">&nbsp;{{'HOME.ROC'|translate}}</span>
  
      <small class="font-sm ml-2" *ngIf="data.negetive != true"
      style="color:rgb(4, 146, 28); font-size: 14px;">{{data.rocdata}}</small>
      <small class="font-sm ml-2" *ngIf="data.negetive  == true" style="color:red; font-size: 14px;">{{data.rocdata}}</small>
    </span>
  </div>
  <p>
    <span class="ticker-alighnment" style="margin-left: 2%" style="font-size: 14px;">&nbsp;&nbsp;&nbsp;{{'HOME.24H'|translate}}:</span>
    <small class="font-sm ml-2 ticker-alighnment" style="font-size: 14px; color: #fff;">&nbsp;{{data.volumndata}}</small>
  </p>
</div>
<div class="row">
  <div class="col-md-6">
<div class="tab-pane asktab fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
  <!-- <div class="row"> -->
    <div class="custom-bg-dark border-col order-gap">
      <div *ngIf="translate.currentLang =='English'" class='pending-sales'>
        Pending Sales Orders
      </div>
      <div *ngIf="translate.currentLang !='English'" class='pending-sales'>
        {{'HOME.PENDNGSLSORDER'|translate}}
      </div>
      <div class="table-responsive ask-data-responsive tabe-responsive_left_sell">
        <table class="table table-sm table-hover mb-4">
          <thead>
            <tr class="bg-black text-blue">
              <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
              <th scope="col">{{'HOME.PRICE'|translate}}</th>
              <th scope="col">{{'HOME.TOTAL'|translate}}</th>
            </tr>
          </thead>
          <tbody *ngIf=" _orderbook.askdata !=''">
            <tr class="" *ngFor="let m of  _orderbook.askdata;let i = index;">
              <td class="{{'text-center'+' '+i+'newclass'}}">{{m.amount| number : '.4-4'}}</td>
              <td class="{{'text-red'+' '+i+'newclass'}}">{{m.price | number : '.7-7'}}</td>
              <td class="{{'text-center'+' '+i+'newclass'}}">{{m.amount*m.price | number : '.7-7'}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="_orderbook.askdata ==''">
            <tr>
              <td *ngIf="translate.currentLang=='English'">
                No Data
              </td>
              <td *ngIf="translate.currentLang!='English'">
                veri yok
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</div>
<div class="col-md-6">
  <div class="tab-pane asktab fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
      <!-- <div class="row"> -->
        <div class="custom-bg-dark biddata-html border-col order-gap">
          <div *ngIf="translate.currentLang =='English'" class='pending-purchase'>
            Pending Purchase Orders
          </div>
          <div *ngIf="translate.currentLang !='English'" class='pending-purchase'>
            {{'HOME.PENDNGPURCHSORD'|translate}}
          </div>
          <hr>
      <div class="table-responsive bid-data-responsive tabe-responsive_left_buy">
        <table class="table table-sm table-hover mb-4">
          <thead>
            <tr class="bg-black text-blue">
              <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
              <th scope="col">{{'HOME.PRICE'|translate}}</th>
              <th scope="col">{{'HOME.TOTAL'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let m of  _orderbook.biddata ;let i = index;">
              <td class="{{'text-center'+' '+i+'newclassask'}}">{{m.amount | number : '.4-4'}}</td>
              <td class="{{'text-green '+' '+i+'newclassask'}}">{{m.price | number : '.7-7'}}</td>
              <td class="{{'text-center'+' '+i+'newclassask'}}">{{m.amount*m.price | number : '.7-7'}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="_orderbook.biddata ==''">
            <tr>
              <td *ngIf="translate.currentLang=='English'">
                No Data
              </td>
              <td *ngIf="translate.currentLang!='English'">
                veri yok
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div [ngResizable]="data.resize" class="custom-bg-dark trading-part p-2 pl-3 pr-3 rounded h-100 border-alighnmnet resizable-widget">
    <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>
            <h5 (click)="trade.GetTradeDetail()" id="trade">{{'HOME.MYTRADES'|translate}}</h5>
          </ng-template>
          <ng-template ngbTabContent>
              <div class="tab-pane active scrollable" id="my-trades" role="tabpanel" aria-labelledby="my-trades-tab">
    
                  <div class="btn-group btn-group-sm" role="group" aria-label="my-trades-filter" style="margin-top:1px;">
                    <button type="button" class="btn btn-dark font-xs filter-button {{(myTradeTableDisplayStatus==0)?'btn_active':''}}" data-filter="all" (click)="trade.myTradeDisplay(0)">{{'HOME.ALL'|translate}}</button>
                    <button type="button" class="btn btn-dark font-xs text-green filter-button {{(myTradeTableDisplayStatus==1)?'btn_active':''}}" data-filter="buy" (click)="trade.myTradeDisplay(1)">{{'HOME.BUY'|translate}}</button>
                    <button type="button" class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}" data-filter="sell" (click)="trade.myTradeDisplay(2)">{{'HOME.SELL'|translate}}</button>
                    <button type="button" class="btn btn-dark font-xs text-red filter-button {{(myTradeTableDisplayStatus==2)?'btn_active':''}}" data-filter="refresh" (click)="trade.GetTradeDetail()"><img src="../../assets/img/icons8-refresh-16.png"></button>
                  </div>
                  <p></p>
                  <div class="table-responsive-sm">
                      <div class="table-responsive">
              <table class="table table-sm table-hover">
                <thead>
                  <tr class="bg-header text-blue">
                    <th scope="col">{{'HOME.DTTME'|translate}}</th>
                    <th scope="col">{{'HOME.ASST'|translate}}</th>
                    <th scope="col">{{'HOME.BASE'|translate}}</th>
                    <th scope="col">{{'HOME.CRAMOUNT'|translate}}</th>
                    <th scope="col">{{'HOME.PRICE'|translate}}</th>
                    <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                  </tr>
                </thead>
                <tbody id="myTradeBody" >
    
                    <tr><td colspan="6" class="text-center" *ngIf="!trade.historyTableTr"><img src="./assets/svg-loaders/three-dots.svg" alt="" width="50"></td>
    
                      </tr>
    
                </tbody>
              </table>
            </div>
            </div>
                </div>
          </ng-template>
        </ngb-tab>

        <ngb-tab>
          <ng-template ngbTabTitle>
              <h5 (click)="trade.getOfferLists()" class="get-offer">{{'HOME.MYOFFERS'|translate}}</h5>
            </ng-template>
        <ng-template ngbTabContent>
            <div class="tab-pane scrollable" id="my-offer" role="tabpanel" aria-labelledby="my-offer-tab">
              <div class="table-responsive-sm">
                  <div class="table-responsive">
                    <table class="table table-sm table-hover">
                      <thead>
                        <tr class="bg-header text-blue">
                          <th scope="col">{{'HOME.DTTME'|translate}}</th>
                          <th scope="col">{{'HOME.OFFERID'|translate}}</th>
                          <th scope="col">{{'HOME.AMOUNT'|translate}}</th>
                          <th scope="col">{{'HOME.PRICE'|translate}}</th>
                          <th scope="col">{{'HOME.TOTALVALUE'|translate}}</th>
                          <th scope="col">{{'HOME.BUY/SELL'|translate}}</th>
                          <th scope="col">{{'HOME.EDIT'|translate}}</th>
                          <th scope="col">{{'HOME.DELETE'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody id="myOfferBody">
                          <tr *ngFor="let m of trade.myOfferRecordsHtml">
                              <td>{{m.time}}</td>
                              <td class="">{{m.offerId}}</td>
                              <td class="">{{m.amount}}</td>
                              <td class="">{{m.price}}</td>
                              <td class="">{{m.volume}}</td>
                              <td class="text-{{m.type=='Buy'?'skyblue':'red'}}">{{m.type}}</td>
                              <td><button class="btn btn-dark modify-btn btn-ex-sm" (click)="getOfferDetails(modify,m.offerId)"> {{'HOME.MODIFY'|translate}}</button></td>
                              <td><button class="btn btn-dark modify-btn btn-ex-sm" (click)="deleteTrade(delete,m.offerId,m.txn_typ,m.price)"> {{'HOME.DELETE'|translate}}</button></td>
                          </tr>
                          <tr>
                            <td colspan="8" *ngIf="trade.myOfferRecordsHtml.length==0" class="text-center">{{'HOME.NODATAAVL'|translate}}</td>
                          </tr>
                          <tr>
                            <td colspan="8" *ngIf="!trade.myOfferRecordsHtml" class="text-center">
                                <img src="./assets/svg-loaders/three-dots.svg" alt="" width="50">
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
            </div>
        </ng-template>
      </ngb-tab>
      </ngb-tabset>
      </div>
</div>
</div>
<!-- </div> -->

<ng-template #content let-modal>
  <div class="modal-header test">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.AREYOUSURETOLGOUT'|translate}}</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>

  <div class="modal-body test">
    {{'HOME.SESSION'|translate}}
  </div>
    <button type="button" class="btn btn-gray" (click)="modal.close()"> {{'HOME.CANCEL'|translate}}</button>
    <button type="button" class="btn btn-red" (click)="modal.close(); data.logout()" > {{'HOME.LOGOUT'|translate}}</button>
</div>
</ng-template>
      <ng-template #modify let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Manage Offer</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">{{'HOME.AMOUNT'|translate}}</label>
            <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyAmount" name="a" #a="ngModel">
          </div>
          <div class="form-group">
            <label for="">{{'HOME.PRICE'|translate}}</label>
            <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyPrice" name="b" #b="ngModel">
          </div>
          <div class="form-group">
            <label for="">{{'HOME.TOTALVOLUME'|translate}}</label>
            <input type="number" class="form-control form-control-sm rounded right" [(ngModel)]="modifyVolume" [value]="modifyAmount*modifyPrice" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.CANCEL'|translate}}</button>
          <button type="button" class="btn btn-success" (click)="manageOffer(); modal.close()" [disabled]="a.pristine&&b.pristine" >{{'HOME.SBMT'|translate}}</button>
        </div>
      </ng-template>
      <ng-template #delete let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{'HOME.DLTOFFR'|translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-center">{{'HOME.DLTMSG'|translate}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close()">{{'HOME.NO'|translate}}</button>
          <button type="button" class="btn btn-warning" (click)="modal.close(); delOffer()" >{{'HOME.YES'|translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
