.gen{

  margin: 0 10px 10px 0;
  position: relative;
  top: 4px;
 left:6px;
 
 }
 .calender-wrap{position: relative;}
 .callender-btn{position: absolute;right:0;;top:0;}
 .form-group{
     position: relative;
 }
 .pic{
     position: absolute;
     right:35px;
     top:20px;
     width:70px;
     height:auto;
 }
 .field-icon {
     float: right;
     margin-left: -25px;
     margin-top: -25px;
     position: relative;
     z-index: 2;
   }
   .signup-text{
       color: #ffffff;
   }
   .lang-setting{
     position: absolute;
     top:0px;
     right:0px;
   }
   .space-lag{
     margin-right: 11px;
   }
 .scrollTC{
   max-height: 50em !important; overflow-y: scroll; overflow-x: hidden;
 }
 
 .txtaline{
   text-align: left;
 }
 .txtheader{
   color: blue;
 }
 .inutbox-w{
   width: 350px;
 }
 .test{
  background-color: #24242a !important;
}