
<div class="container-wrap">
  <!-- <label class="lang-setting">
    <label class="space-lag">Select Language</label>

    <select #langSelect (change)="translate.use(langSelect.value)">
     <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
   </select>

 </label> -->
<div class="container" style="margin-top: -25px;">
    <div class="card card-login mx-auto mt-3">
      <!-- <div class="card-header text-center text-blue bg-pbgreen bitrump-logo">
      </div> -->
      <!-- <div class="card-header text-center text-blue p-0">
        <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}}
          SIGNUP</h5>
      </div> -->
      <div class="login-text text-blue">
        <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">{{'HOME.SIGNUP'|translate}}</span>
        <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
      </div>
      <div class="card-body card-login-body user-credentials p-3">
        <!-- new -->
        <ngb-tabset justify="fill" activeId="tab2">
          <!-- <ngb-tab id="tab1">
            <ng-template ngbTabTitle>
              <h5 (click)="basic()">BASIC</h5>
            </ng-template>
            <ng-template ngbTabContent>
            </ng-template>
          </ngb-tab> -->
          <ngb-tab id="tab2">
            <!-- <ng-template ngbTabTitle>
              <h5>TOMYA PRO</h5>
            </ng-template> -->
            <ng-template ngbTabContent>
              <form name="form" #f="ngForm" (ngSubmit)="f.valid && signupData(true,content)">

                <div class="form-group">
                  <label for="signupInputfName">{{'HOME.NAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="fullName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.fullName" type="text" placeholder="" required
                    #fullName="ngModel" [class.is-invalid]="fullName.dirty&&fullName.invalid">
                </div>

                <!-- <div class="form-group">
                  <label for="signupInputfName">{{'HOME.SURNAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="surName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.surName" type="text" placeholder="" required
                    #surName="ngModel" [class.is-invalid]="surName.dirty&&surName.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputfName">{{'HOME.SURNAME'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="surName" id="signupInputfName" tabindex="1"
                    [(ngModel)]="signupObj.surName" type="text" placeholder="" required
                    #surName="ngModel" [class.is-invalid]="surName.dirty&&surName.invalid">
                </div>

                <div class="form-group">
                  <label for="signupInputEmail">{{'HOME.EMAIL'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" [class.is-invalid]="email.dirty && email.invalid" name="email"
                    id="signupInputEmail" [(ngModel)]="signupObj.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="{{signupObj.email}}"
                    (blur)="checkEmail()" appForbiddenName="bob" required #email="ngModel">
                  <span class="text-danger" *ngIf="email.dirty && email.invalid">Enter a valid email Id</span>
                </div>
                <div class="form-group">
                  <label for="signupInputAddress">{{'HOME.ADDRESS'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" id="signupInputAddress" [(ngModel)]="signupObj.address" type="text"
                    placeholder="" name="address" #add="ngModel"
                    [class.is-invalid]="add.dirty&&add.invalid" required>
                  <!-- <span class="text-danger" *ngIf="add.dirty&&add.invalid">Enter a valid address</span> -->
                </div>

                <!-- <div class="form-group">
                  <label for="signupInputPincode">{{'HOME.ZCODE'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="pincode" id="signupInputPincode" [(ngModel)]="signupObj.zip"
                    type="text" placeholder="" required #zip="ngModel"
                    [class.is-invalid]="zip.dirty&&zip.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputCity">{{'HOME.CITY'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" id="signupInputCity" [(ngModel)]="signupObj.city" type="text"
                    placeholder="" required name="city" #city="ngModel"
                    [class.is-invalid]="city.dirty&&city.invalid">
                  <!-- <span class="text-danger" *ngIf="city.dirty&&city.invalid">Enter a valid city name</span> -->
                </div>
                <!-- <div class="form-group">
                  <label for="signupInputState">{{'HOME.STATE'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="state" id="signupInputState" [(ngModel)]="signupObj.state"
                    type="text" placeholder="" required #state="ngModel"
                    [class.is-invalid]="state.dirty&&state.invalid">
                </div> -->

                <!-- <div class="form-group">
                  <label for="signupInputCountry">{{'HOME.COUNTRY'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" disabled id="signupInputCountry" name="country"
                    [(ngModel)]="signupObj.country" required #country="ngModel" type="text"
                    [class.is-invalid]="country.dirty&&country.invalid">
                </div> -->
                <div class="form-group">
                  <label for="signupInputPhone">{{'HOME.PHONENO'|translate}}</label><span class="required">*</span>&nbsp;&nbsp;
                  <!-- <input type="tel" class="tel-type"  id="signupInputPhone1"  #input1 size="3" ng-pattern="/(^0$)|(^[1-9]\d{0,8}$)/"   maxlength="3" (input)="keyTab($event,input2)">&nbsp; -->
                  <input class="form-control registration-input validate" name="phone"  id="signupInputPhone1"
                  [(ngModel)]="signupObj.phone" type="text" placeholder="" (blur)="checkPhone()" required
                  pattern="((\(\d{3}\)?)|(\d{3}))([\s-./]?)(\d{3})([\s-./]?)(\d{4})" #phone="ngModel" [class.is-invalid]="phone.dirty&&phone.invalid">
                  <!-- <input type="tel" id="signupInputPhone2" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input2 size="3" maxlength="3" (input)="keyTab($event,input3)">&nbsp;
                  <input type="tel" id="signupInputPhone3" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input3 size="2" maxlength="2" (input)="keyTab($event,input4)">&nbsp;
                  <input type="tel" id="signupInputPhone4" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" #input3 size="2" maxlength="2" (blur)="checkPhone()" >&nbsp; -->
                  <!-- <input type="tel" #input4 size="2" maxlength="2"
                    [(ngModel)]="signupObj.phone4"  (blur)="checkPhone()" required
                     #phone="ngModel"  id="signupInputPhone4" (keyup)="valkeyUp()" pattern="/^\+?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{2})[-. ]?([0-9]{2})$/" [ngModelOptions]="{standalone: true}"  > -->
                     <span class="text-danger test" *ngIf="phone.dirty&&phone.invalid">{{'HOME.ENTRVALIDNUM'|translate}}</span>
                     <!-- <input type="hidden" id="phone_num" value=""/> -->
                </div>
                <div class="form-group">
                  <label for="signupInputPassword">{{'HOME.PASSWORD'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="password" id="signupInputPassword" name='password'
                    [(ngModel)]="signupObj.password"  pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[$@#.!]).{8,20}" (blur)="checkPassword()" type="password" placeholder="" (blur)="checkPassword()"
                    (keyup)="confirmPassword($event)" required
                     #password="ngModel"
                    [class.is-invalid]="password.invalid&&password.dirty">
                    <span toggle="#signupInputPassword" (click)="showHide()" class="fa fa-fw fa-eye-slash field-icon showHide-password"></span>
                  <span class="text-danger" *ngIf="password.dirty&&password.invalid">
                    {{'HOME.VALIDPWDMSG'|translate}}
                    <!-- The password should be of minimum 8 characters and must contain at least one uppercase, one lowercase, number and a special character($@#.!). -->
                  </span>
                </div>
                <div class="form-group">
                  <label for="signupInputRetypePassword">{{'HOME.RPASSWORD'|translate}}</label><span class="required">*</span>
                  <input class="form-control registration-input validate" name="repassword1" id="signupInputRetypePassword" type="password"
                    placeholder="" [(ngModel)]="signupObj.repassword1" (keyup)="confirmPassword($event)" required
                     #repassword1="ngModel"
                    [class.is-invalid]="repassword1.invalid&&repassword1.dirty">
                  <span class="confirm_password_text"></span>
                </div>

                <div class="form-group">
                  <!-- <re-captcha (resolved)="resolved($event)" siteKey="6Lf9QagUAAAAACyd-QUoV94k6jIRuA7-WHwKEUjN">
                  </re-captcha>

                  <re-captcha (resolved)="resolved($event)" siteKey="6Ld2kXIUAAAAAE3sQKJ-JtsJdp1lwPhMwPHcA3Cj"></re-captcha> -->
                </div>

                <button class="btn login_btn btn-block" id="submit_btn"
                  [disabled]="f.form.invalid">{{'HOME.SMT'|translate}}</button>
              </form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
            <div class="row mt-2">
          <div class="col-12 mt-3 signup-text text-center">{{'HOME.MSG'|translate}}<a class="signup-text" style="color:#007bff;"  (click)="openTC(tcshow)" href="javascript:void(0)">{{'HOME.MSG1'|translate}}</a><div><a class="text-white-background" target="_blank">{{'HOME.MSG2'|translate}} </a></div></div>
         <div class="col-12 text-center">
           <input type="checkbox" id="chktc" [(ngModel)]="theCheckbox" [checked]="theCheckbox" />{{'HOME.MSG5'|translate}}<a class="signup-text" style="color:#007bff;" (click)="openTC2(tcshow2)" href="javascript:void(0)">{{'HOME.MSG6'|translate}}</a>{{'HOME.MSG7'|translate}}</div>
          <div class="col-12 text-center"><a class="signup-text" routerLink="/login">{{'HOME.MSG3'|translate}} </a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #tcshow let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body text-center">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div  class="text-center">
      <i ><h4 style="color:aqua">KULLANICI SÖZLEŞMESİ</h4></i>
    </div>
    <div>
      <h6 class="batchmsg scrollTC">
        <p class="txtaline txtheader">1.TARAFLAR</p>
        
        <p class="txtaline">İşbu Kullanıcı Sözleşmesi (“Sözleşme”), şirket merkezi Maslak Mahallesi Büyükdere Cad. Spıne Tower Apt. No: 243/10 Sarıyer/İstanbul adresinde bulunan Tomya Teknoloji Anonim Şirketi ile www.tomya.com adresinden erişilen platforma kullanıcı olarak kaydolan kişi arasında akdedilmektedir. Sözleşme, Kullanıcı tarafından elektronik ortamda kabulü ile birlikte yürürlüğe girecek olup taraflarca Sözleşme ’de belirtilen usuller doğrultusunda sona erdirilmediği sürece yürürlükte kalmaya devam edecektir.</p>
        
        <p class="txtaline txtheader">2. TANIMLAR</p>
        <p class="txtaline">İşbu sözleşmede yer alan;</p>
        <p class="txtaline txtheader">2.1.TOMYA</p>
        <P class="txtaline" >Maslak Mahallesi Büyükdere Cad. Spıne Tower Apt. No: 243/10 Sarıyer/İstanbul adresli Tomya Teknoloji Anonim Şirketi </P>
        <p class="txtaline txtheader">2.2. KRİPTO PARA</p>
        <p class="txtaline">Kriptografik bir şekilde güvenli olarak işlem yapmaya yarayan dijital olan sanal paralardır.
          Bir banka ya da şirket tarafından kontrol edilemeyen, merkezi bir kontrol noktası olmayan fiyatı kimse tarafından belirlenmeyip arz talep ilişkisine binaen serbest piyasa göre değişen bir birimdir.</p>
          <p class="txtaline txtheader">2.3 KRİPTO PARA CÜZDANI</p>
          <p class="txtaline">Kullanıcının kripto para adreslerini ve onların şifrelerini tutan bir bilgisayar dosyasıdır. Bu adresler arasında transfer işlemi gerçekleştirilebilir. Kripto adresler rastgele oluşturulan kriptografik açık anahtar eşleridir.</p>
        <p class="txtaline txtheader">2.4. KULLANICI</p>
      <p class="txtaline">Siteye üye olan ve Tomya tarafından sunulan hizmetlerden yararlanan gerçek veya tüzel kişi.</p>
  <p class="txtaline txtheader"> 2.5. SİTE</p>
    <p class="txtaline"> “www.tomya.com” alan adından ve bu alan adına bağlı alt alan adlarından oluşan internet sitesini ifade eder.</p>
  <p class="txtaline txtheader">3. AMAÇ</p>     
        <p class="txtaline">İşbu kullanım sözleşmesi ile sitede sunulan hizmetler kullanılırken Tomya ve siteye üye olan kullanıcı arasındaki karşılıklı hak ve yükümlülükleri düzenlenmiştir. Tomya’ya ait internet sitesi kullanıcılar arasında sanal paraların alış satış yapılmasını sağlayan aracı bir platformudur.</p>
      <p class="txtaline txtheader">4. TARAFLARIN HAK VE YÜKÜMLÜLÜKLERİ</p>
      <p class="txtaline">4.1. Kullanıcı, bu aracı platformdan faydalanmak için Tomya tarafından talep edilen bilgileri tam, doğru ve güncel bir şekilde beyan eder. ,Tomya bu bilgilerin eksik veya gerçeğe aykırı olarak verilmesi ya da güncel olmaması nedeniyle sözleşmeyi tek taraflı feshederek kullanıcıya ait hesabı hiçbir bildirimde bulunmaksızın iptal etme, durdurma veya askıya alma haklarına haizdir. Bu halde kullanıcı Tomya’dan herhangi bir talepte bulunmayacağını kabul ve taahhüt etmektedir.</p>
    <p class="txtaline">4.2. Kullanıcı, siteyi kullanabilmesi için 18 yaşından büyük olduğunu kabul, beyan ve taahhüt eder. Kullanıcının bu bilgiyi hatalı vermesi nedeniyle doğacak tüm zararlardan mesuliyet kullanıcıya aittir.</p>
        <p class="txtaline">4.3. Sitede sunulan hizmete bağlı tüm servislerin, yazılım kodlarının, alan adlarının, içeriklerinin, ara yüzlerinin, ürün incelemelerinin, videolarının, çizimlerinin, algoritmalarının, modellerinin, tasarımlarının ve diğer tüm fikri ve sınai hakları  Tomya Teknoloji Anonim Şirketi ‘ne aittir. (üçüncü kişilerden sağlanan içerik ve uygulamalar bu kapsamın dışındadır.) Sunulan servislerin yazılım, tasarım ve telif haklarının tamamı Tomya’ya aittir. Tomya, anılan bu servislerin ve hizmetlerin, bununla bağlantılı sayfaların kopyalanmasına, çoğaltılmasına ve yayılmasına, ters mühendislik işlemlerine tabi tutulmasına izin vermemektedir. Kullanıcı, bu hükümlere aykırı hareket etmeyeceğini kabul, beyan ve taahhüt eder. Kullanıcının bu hükümlere aykırı davranması, sözleşmenin tek taraflı ve haklı feshi nedeni olup tüm hukuki ve cezai sorumluluk kullanıcıya aittir. Ayrıca bu hükme aykırı davranışta bulunan ve mail ortamında yapılacak uyarıya rağmen hukuka aykırılığı mailinin kullanıcıya ulaşmasını takip eden 24 saat içerisinde gidermeyen kullanıcı, Tomya’ya tüm hukuki ve cezai sorumluluğu saklı kalmak kaydıyla ayrıca hukuka aykırılığı gidermediği her gün başına 100,00 TL cezai şart ödemeyi kabul ve taahhüt edilmiştir.</p>
      <p class="txtaline">4.4. Kullanıcı, işbu Sözleşme, ekleri, yürürlükteki mevzuat ve sitede öngörülen diğer kural ve koşullara uygun davranacağını kabul ve taahhüt eder.</p>
      <p class="txtaline">4.5. Kullanıcı, tek bir Kullanıcı hesabı tesis etme hakkına sahip olup Kullanıcı hesabının Tomya tarafından askıya alınması veya sona erdirilmesini takiben Kullanıcı tarafından aynı veya başka bilgiler kullanılarak ikinci bir hesap tesis edilmesi yasaktır ve bu durumda Kullanıcının tüm hesapları iptal edilebilir ve yeni hesap oluşturması engellenebilir. Kullanıcı, talep halinde Şirket’e kimlikleri hakkında doğru ve kesin bilgi sunmayı, kimliğini ispat etmesine yarayacak, sayılanlarla sınırlı olmaksızın, kimlik, fatura, pasaport, ruhsat, tapu, doğum belgesi, banka hesap cüzdanı, Kullanıcının tüzel kişi olması halinde ticaret sicil kaydı, imza sirküleri gibi belgeleri Tomya’ya iletmeyi kabul eder. Tomya’nın herhangi bir gerekçe göstermeksizin, tamamen kendi iradesine tabi olarak Kullanıcı hesabının açılmasını reddetme hakkı saklıdır.</p>
      <p class="txtaline">4.6. Siteye üye olurken verilen bilgilerin doğruluğundan ve gizliliğinden, siteye üye olurken kullanılan şifre ve kullanıcı adının korunmasından, 3. Kişiler ile paylaşılmamasından kullanıcı sorumludur. Kullanıcı bu hususta doğacak zararlar için Tomya ’dan hiçbir ad altında talepte bulunmayacağını, bu doğrultuda Tomya’yı gayri kabili olarak rücu ettiğini kabul, beyan ve taahhüt eder.</p>
      <p class="txtaline">4.7. Bu site üzerinden satın alınan kripto paraların nasıl kullanıldığının, nereye ve ne amaçla transfer edildiğinin, bir suçta kullanılıp kullanılmadığının, teknik olarak takibi mümkün değildir. Kripto paraların kötüye kullanılmasından doğan ya da doğacak, kullanıcı ya da üçüncü kişilerin zarar ve kayıplarından, menfi veya müspet zararlarından Tomya sorumlu tutulamaz. Bu hususta her ne şekilde olursa olsun Tomya’nın yasal bir sorumluluğu doğması halinde bu zarara sebebiyet veren kullanıcı Tomya’nın tüm zararlarını tazmin etmekle yükümlüdür. Söz konusu zararın tarafından tazmin edilmediği her gün için kullanıcı günlük %0,05 temerrüt faizi ödemeyi kabul ve taahhüt etmektedir.</p>
      <p class="txtaline">4.8. Kullanıcılar kendi hesaplarının güvenliklerini sağlamak zorundadır. Güçlü bir şifre kullanılması, Kullanıcı adı ve şifresinin kimseyle paylaşılmaması, Site de kullanılan şifrenin yalnızca Site de kullanılması Tomya’nın güvenlik önlemleri için tavsiyelerindendir. Tarafımızca bildirilen güvenlik önlemleri, tavsiye niteliğinde olup, söz konusu güvenlik önlemleri alınmış olmasına rağmen, kullanıcının doğmuş ya da doğacak olan zararlarından Tomya hiçbir şekilde sorumlu tutulamaz.</p>
      <p class="txtaline">4.9. Kullanıcı, hesabını ve haklarını üçüncü şahıslara devredemez, satamaz, kendi üyeliğini hiçbir şekilde başkasına kullandıramaz. Bu durumda Tomya’nın kullanıcının hesabını iptal etme, durdurma, askıya alma hakkına sahiptir. Kullanıcı, hesabın gerçek sahibi olduğunu, hesabı başkası adına kullanmadığını, nihai faydalanıcı olduğu beyan etmektedir. Tomya, söz konusu beyanın gerçeğe aykırı olduğunu tespit eder veya bu konuda ciddi şüpheye kapılır ise kullanıcıdan ayrıntılı bilgi talep etme hakkına sahiptir. Kullanıcı tarafından verilen cevabın yeterli ve inandırıcı olmaması halinde Tomya durumu ilgili kurum ve kuruluşlara bildirecektir. Tomya, bu süreç içerisinde her türlü tedbiri almakla yetkilidir. Kullanıcı, bu konuda Tomya’nın sorumluluğuna gidilemeyeceğini kabul, beyan ve taahhüt etmektedir.</p>
        <p class="txtaline">4.10. Kullanıcının hatasından doğan veya doğacak, ya da her ne surette olursa olsun doğan veya doğacak her türlü zarar ve/veya kayıplardan dolayı Tomya yönetim kurulu üyeleri, yöneticileri, çalışanları ve bu sitede yer alan bilgileri hazırlayan kişilerin hiçbir hukuki ve cezai sorumluluğu bulunmamaktadır. Kullanıcı her hal ve şartta anılan kişileri gayri kabili rücu ettiğini kabul, beyan ve taahhüt eder.</p>
      <p class="txtaline">4.11. Tomya benzer alış satış platformlarından bağımsız bir şirkettir ve herhangi bir kuruluşun temsilcisi değildir. Kullanıcı tarafından Tomya haricinde bir alış satış platformunda yapılan alış satış işlemlerinden ve bu işlemlerden doğan ya da doğacak Tomya hiçbir şekilde sorumlu tutulamaz.</p>
        <p class="txtaline">4.12. Tomya bir kripto para alış satış platformuna sahip aracı bir sitedir. Site üzerinden kullanıcılar birbirlerine açık arttırma veya eksiltme yöntemi ile kripto para birimlerini alır veya satarlar. Sitede oluşan fiyatları Tomya değil alıcı ve satıcılar belirler. Fiyatlarda olan değişikliklerden dolayı kullanıcıların zarar veya kayıplara uğramasından ve doğan ya da doğacak zararlardan Tomya sorumlu tutulamaz. Kullanıcı bu konuda Tomya aleyhine her hangi bir müracaat işleminde bulunmayacağını taahhüt etmektedir. Kullanıcının buna uymaması halinde Tomya tarafından karşılanan avukatlık ücretlerinden kullanıcı tamamı ile sorumlu olacaktır.</p>
      <p class="txtaline">4.13. Kullanıcı, sitenin barındırıldığı bilgisayar ve ağ sistemlerinin güvenlik ve bütünlüğünü tehlikeye düşürecek faaliyetlerde bulunmayacağını; siteyi, sitenin veya hizmetlerin sunulduğu diğer sistemlerin işlerliğine yahut siteden faydalanan diğer kullanıcıların bunlardan faydalanmasına engel olacak veya bunlara zarar verecek şekilde veya hatalı kullanmayacağını; sitenin barındırıldığı bilgisayar sistemlerine veya siteye kendisine tanınan erişim kapsamı dışında başka kullanıcı hesaplarından ya da sair şekillerde yetkisiz erişim sağlamayacağını; siteye Tomya’nın ve üçüncü kişilerin bilgisayar sistemlerine, cihazlarına ve yazılımlarına zarar verecek dosyalar veya hukuka aykırı içerikler aktarmayacağını ve yüklemeyeceğini kabul ve taahhüt eder. Kullanıcının söz konusu davranışlarda bulunması ve bu nedenle diğer kullanıcılar ve/veya Tomya’nın zarar görmesi halinde meydana gelen ve gelecek tüm zararları tazmin etmekle sorumlu olup, kullanıcı bu zararları tazmin etmeyi kabul, beyan ve taahhüt etmektedir.</p>
      <p class="txtaline">4.14. Sitenin kullanımına ilişkin sorunlar çıkması halinde Kullanıcı, Tomya ile iletişime geçmeden önce sorunu tespit ve teşhis etmek için makul çabayı sarf edecektir. Kullanıcının bilgi veya tecrübe eksikliğinden kaynaklanmayan, sunucu hatası yahut Kullanıcı hesabında beklenmedik hareketler gibi teknik sorunlar halinde ise Kullanıcı bu durumu derhal Tomya’ya  bildirecektir. Kullanıcının söz konusu bildirimi mail ortamında açıklayıcı bir şekilde yapması gerekmektedir. Gecikmesinde sakınca bulunan bir hal bulunması durumunda sisteme erişim sağlayamayan kullanıcı, yapmak istediği işlemi Tomya’nın destek mailine açık ve anlaşılır bir şekilde manuel olarak gerçekleşmesi zımnında sisteme kayıtlı onaylı mailinden talimat verebilecektir. Sistemsel bir sorun karşısında, kullanıcı tarafından sisteme kayıtlı maili üzerinden Tomya’nın destek mailine, açık ve anlaşılır bir şekilde talimat verilmemesi durumunda, meydana gelen ve/veya gelecek zararlardan kullanıcı sorumlu olup, Tomya’nın herhangi bir sorumluluğu bulunmamaktadır. Tomya’nın bu şekilde bir mail alması durumunda kullanıcının talimatı en geç 24 saat içerisinde yerine getirmesi gerekmektedir. Söz konusu 24 saatlik talimatın gerçekleştirilmesi süresi içerisinde kullanıcının zararlarından Tomya sorumlu değildir. Kullanıcı 24 saatlik talimat yerine getirme süresinin makul ve hakkaniyetli olduğunu açıkça kabul, beyan ve taahhüt etmektedir. Söz konusu talimatın mücbir sebeplerle yerine getirilmemesi durumunda Tomya’nın herhangi bir sorumluluğu bulunmamaktadır. Alınan ilk talimattan sonraki 24 saat içerisinde kullanıcının talimatı gerçekleşmeden evvel kullanıcının talimatını geri çekmesi durumunda ikinci talimat geçerli sayılacak ve ilk talimat yerine getirilmeyecektir.</p>
      <p class="txtaline">4.15. Kullanıcı, hukuka ve mevzuata aykırı amaçlarla siteyi kullanmayacağını, hukuka ve mevzuata aykırı amaçlarla siteyi kullanması halinde doğacak tüm hukuki ve cezai sorumluluktan kendisinin sorumlu olacağını kabul eder.</p>
        <p class="txtaline"> 4.16. Kullanıcılar yalnızca hukuka ve mevzuata uygun amaçlarla Site üzerinde işlem yapabilirler. Kullanıcıların hukuka aykırı işlem yaptıklarının fark edilmesi halinde, Tomya hiçbir şekilde sorumlu olmadığı gibi, Tomya’nın her türlü hukuki yola başvurma ve gerekli güvenlik tedbirlerini alma, hakkı bakidir. Tomya’nın bu durumda zarar görmesi halinde kullanıcı tüm bu zararları karşılayacaktır. Bu zarar kalemleri içerisinde yargılama masrafları ve avukatlık ücretleri de dahildir.</p>
        <p class="txtaline">4.17. Tomya, işlemlerin şüpheli görülmesi halinde, kullanıcıların yaptıkları para transferlerini iade etme hakkına sahiptir. Kullanıcının Site üzerinde aldığı hizmetleri kullanarak yaptığı her işlem ve eylemdeki hukuki ve cezai sorumluluk kendilerine aittir. Tomya’nın hiçbir hukuki ya da idari sorumluluğu bulunmamaktadır.</p>
        <p class="txtaline">4.18. Tomya para yatırma ve çekme kurallarında değişiklik yapma hakkına tek taraflı olarak sahiptir. Para yatırma ve çekme kuralları, site üzerindeki yardım sayfalarında ve diğer sayfalarda bulunan uyarılar ve kuralların bütünüdür. Kullanıcı söz konusu metinleri, okuduğunu, içeriklerine vakıf olduğunu ve kabul ettiğini beyan etmektedir.</p>
        <p class="txtaline">4.19. Para yatırma işlemlerinin, Kullanıcı ile aynı ismin altına kayıtlı olan banka hesabından yapılması zorunludur. ATM'ler üzerinden kartsız bankacılık yöntemleri ile transfer yapılmamalıdır. Bu tip işlemlerin saptanması durumunda, Tomya’nın söz konusu transferleri iade etme hakkına sahiptir.</p>
        <p class="txtaline">4.20. Para yatırma ve çekme işlemleri için beyan edilen sürelerin dışında işlem yapılması durumunda Tomya’nın doğacak veya doğabilecek zararlar veya kayıplardan sorumluluğu bulunmamaktadır.</p>
        <p class="txtaline">4.21. Tomya, işlemlerin teknik hatalardan dolayı, gerçekçi olmayan fiyatlardan gerçekleşmesi gibi durumlarda, sistemi düzeltmek ve doğru çalışmasını sağlamak adına, bu işlemleri iptal edebilir veya geri alabilir. İptal ve geri alma sırasında bu Kullanıcı hesapları dondurulabilir. Bu tarz işlemlerden dolayı Tomya’dan herhangi bir hak talep edilemez.</p>
        <p class="txtaline">4.22. Tomya, Kullanıcılar adına muhafaza edilen hesaplarda bulunan kripto paraların güvenliği için azamı özeni göstermekle yükümlüdür. Kullanıcılara ait kripto paralar herhangi bir siber saldırıya karşı internet bağlantısı olmayan ortamlarda saklanır. Ancak Tomya’nın tüm bu çabalarına rağmen oluşabilecek hırsızlık/dolandırıcılık olaylarından dolayı Tomya sorumlu tutulamaz. Kullanıcı bu riski üzerine almış ve bu durumda meydana gelecek olan zararlardan ötürü Tomya’dan herhangi bir talepte bulunmayacaktır.</p>
        <p class="txtaline">4.23. İşbu site, sadece Türkiye Cumhuriyetinde ikamet eden gerçek veya tüzel kişilere hizmet verir.</p>
        <p class="txtaline">4.24. Tomya destek hizmetlerini yalnızca destek@tomya.com e-posta adresi üzerinden sağlamaktadır. Tomya bu e-posta adresi dışında bir yöntem ile kullanıcılarına destek hizmeti sağlamaz, destek yazışmalarında şifre sormaz, kullanıcılarından kripto para göndermeleri için bir kripto para adresi bildirmez. Bu husus bir tebliğ niteliğinde olup, Tomya bahsi geçen e-posta adresi dışındaki bir adresten gönderilmiş bir e-posta sebebiyle kullanıcılarının uğradığı ya da uğraması muhtemel zarar ve kayıplardan sorumlu tutulamaz.</p>
        <p class="txtaline">4.25. Kripto para birimlerine yatırım yapmanın getirdiği belli başlı riskler vardır. Kullanıcılar işbu sözleşmenin kabul edilip onaylanması ile kripto para birimlerine yatırımının risklerini anladıklarını ve yatırımın sebep olduğu ya da olabileceği zarar ve ziyanlardan Tomya’yı sorumlu tutmayacaklarını beyan ve taahhüt ederler. Fiyat değişimlerinden oluşan kâr ve zararlardan kullanıcılar sorumludur. Kullanıcıların, bir kayıp ya da zarar yaşaması durumunda Tomya’dan hiçbir hak talep edemezler.</p>
        <p class="txtaline">4.26. Kripto para kullanımı ile ilgili yasal sorumluluklar ve vergi mükellefiyetlerinden kullanıcılar bizzat sorumlu olup, Kullanıcıların kazanç ve kayıplarından oluşan vergisel mükellefiyetlerinden Tomya sorumlu tutulamaz.</p>
        <p class="txtaline">4.27. Tomya, kullanıcı tarafından yapılan havale işlemlerini en kısa sürede yerine getirecektir. Para yatırma ve/veya para çekme işlemlerinin Türk Borçlar Kanunu ve Türk Ticaret Kanununda sayılan “mücbir sebep” halleri ile hiç gerçekleştirilememesi veya geç gerçekleştirilmesi halinde doğacak zararlardan Tomya sorumlu olmayacaktır. Mücbir sebep; doğal afet, isyan, savaş, grev, lokavt, telekomünikasyon altyapısından kaynaklanan arızalar, elektrik kesintisi ve kötü hava koşulları da dahil ve fakat bunlarla sınırlı olmamak kaydıyla ilgili tarafın makul kontrolü haricinde gerçekleşen olaylar olarak yorumlanacaktır. Mücbir sebep süresince Taraflar’ın edimleri askıya alınır. Mücbir sebebin 2 (iki) aydan uzun sürmesi halinde işbu Sözleşme hakları ifa edilemeyen Tarafça feshedilebilecektir. Bununla birlikte kullanıcıya ait bedelin Tomya bünyesinde kaldığı süreç için Kullanıcı Tomya’dan Anaparanın ferileri niteliğinde olan faiz vb. herhangi bir talepte bulunmayacaktır.</p>
        <p class="txtaline">4.28. Siteye üye olan kullanıcı, (TL ve coin çekme işlemleri için) kimlik ve adres bilgilerini belgelemek zorundadır. Kullanıcı tarafından kimlik ve adres bilgilerinin belgelenmemesi halinde, Tomya kullanıcıya ait hesap üzerinden çekim işlemi yapılmasına izin vermeyecektir. Kullanıcı tarafından belgelenen kimlik ve adres bilgileri sistemin Türkiye Cumhuriyeti Kanun ve mevzuatlarına uyarlı olması amacıyla talep edilmekte olup, yetkili makamlarca talep edilmesi halinde ilgili makamlar ile paylaşılacaktır. Tomya, bu haller dışında kullanıcıya ait kimlik ve adres bilgilerini hiçbir gerçek ve/veya tüzel kişi ile paylaşmayacağını taahhüt eder.</p>
        <p class="txtaline">4.29. Kullanıcı, herhangi bir şekilde Tomya’nın (veya bağlı şirketlerinin) ticari unvanını, markasını, hizmet markasını, logosunu, alan adını vs. kullanmayacaktır.</p>
        <p class="txtaline">4.30. Kullanıcı ile kayıt olurken bildirdikleri e-mail vasıtasıyla veya site aracılığıyla iletişim kurulacaktır. E-posta ile yapılan iletişim yazılı iletişimin yerini tutar. E-posta adresini güncel tutmak, e-postaları alabilmek için Tomya’nın gönderim yaptığı e-posta adresini güvenilir e-posta adresi olarak belirlemek ve Tomya’yı bilgilendirmeler için düzenli kontrol etmek kullanıcının sorumluluğundadır. Kullanıcıya ait sistemde kayıtlı olan e posta adresine yapılan bildirimler Tebligat Kanunu ve diğer kanunlar uyarınca resmi bildirimler niteliğinde olup kullanıcı adresinin her daim doğru ve ulaşılabilir olduğunu beyan ve taahhüt etmektedir.</p>
        <p class="txtaline">4.31. Kullanıcı, siteye üye olduğunda sözleşmenin tüm maddelerini okuyup anladığını, sözleşmenin bütün içeriğini ve bütün hükümlerini onayladığını kabul, beyan ve taahhüt eder. Kullanıcı, Kripto para ile ilgili BDDK tarafından yapılan ve bundan sonra yapılacak tüm açıklamaları okumuş ve kabul etmiş sayılır. Sözleşmeyi kabul etmeyen kullanıcının siteye üye olmaması ve sitenin hizmetlerinden faydalanmaması gerekmektedir.</p>
        <p class="txtaline">4.32. İşbu sözleşme Tomya tarafından sitede ilan edildiğinde geçerlilik kazanır.</p>
        <p class="txtaline">4.33. İşbu Sözleşme’nin herhangi bir hükmünün veya sözleşmede yer alan herhangi bir ifadenin geçersizliği, yasaya aykırılığı ve uygulanamazlığı, Sözleşme’nin geri kalan hükümlerinin yürürlüğünü ve geçerliliğini etkilemeyecektir.</p>
        <p class="txtaline">4.34. Kullanıcı para transfer işlemini yaparken kullanıcı adı ile aynı isimde kayıtlı olan banka hesabını kullanacaktır. Kullanıcının farklı isimlerle transfer yapması halinde yaşanabilecek gecikmelerden kullanıcı mesuldür.</p>
        <p class="txtaline">4.35. Tomya, siteye üye olan kullanıcının güvenliğini makul ölçüde sağlayacağını taahhüt eder. Bu kapsamda Tomya, kullanıcının güvenliği adına üyelik oluşturulurken çift aşamalı SMS doğrulaması ile üyelik kaydı yapacaktır. Tomya, bu kapsamda gerekli makul özeni gösterecektir. Kullanıcıya ait birikimler olası bir siber saldırıya karşı site sunucularından bağımsız ortamlarda saklanır. Ancak buna rağmen olası bir siber saldırı sonucunda kullanıcıya ait birikimlere zarar gelmesi halinde Tomya’nın herhangi bir sorumluluğu bulunmadığını kullanıcı kabul, beyan ve taahhüt etmekte ve olası siber saldırı sonucunda meydana gelebilecek rizikoları üzerine almaktadır. </p>
        <p class="txtaline">4.36. Site, ilgili yazılım ve içerikler “OLDUĞU GİBİ” sunulmakta olup, bu kapsamda Tomya’nın bunların doğruluğu, tamlığı ve güvenilirliği ile ilgili herhangi bir sorumluluk ya da taahhüdü bulunmamaktadır. Tomya Site’nin kullanımının kesintisiz ve hatasız olduğunu taahhüt etmemektedir. Tomya, Site’nin 7/24 erişilebilir ve kullanılabilir olmasını hedeflemekle birlikte Site ‘ye erişimi sağlayan sistemlerin işlerliği ve erişilebilirliğine dair garanti vermemektedir. Kullanıcı, Site’ye erişimin muhtelif zamanlarda engellenebileceğini ya da erişimin kesilebileceği kabul eder.</p>
        <p class="txtaline">Şirket, söz konusu engelleme veya kesintilerden yahut Site’ye üçüncü kişilerce yetkisiz erişimlerden ve kullanıcıların bunlardan kaynaklanan zarar ve kayıplarından hiçbir şekilde sorumlu değildir. </p>
        <p class="txtaline">Tomya, kullanıcının tüm yatırımlarını (TL,Dolar, Kripto Varlıklar) değerlendirmede yetkili olup, kullanıcı bu varlıklar ile ilgili Tomya’dan nema talebinde bulunamaz. </p>
        <p class="txtaline">4.37. Tomya’nın Site üzerinden Kullanıcılar tarafından gerçekleştirilen işlemlere ilişkin sorumluluğu Kripto Paralar’ın aktarılması için makul teknik çabayı göstermekle sınırlıdır. Kullanıcının site kullanıcısı olmayan kişilerin hesaplarına Kripto Para aktarımı yapması halinde ise Tomya’nın sorumluluğu eş düzeyler arası (peer-to-peer) ağa gerekli teknik verilerin sağlanması ile sınırlı olacaktır.</p>
        <p class="txtaline">4.38. Kullanıcı, Site’ye erişim ve bunların kalitesinin büyük ölçüde ilgili İnternet servis sağlayıcısından temin edilen hizmetin kalitesine dayandığını ve söz konusu hizmet kalitesinden kaynaklı sorunlarda Tomya’nın herhangi bir sorumluluğunun bulunmadığını kabul eder.</p>
        <p class="txtaline txtheader">5.ÜCRETLENDİRME</p>
        <p class="txtaline">5.1. Tomya, sağladığı hizmetlerle ilgili tüm ücretlerini sitenin 'Komisyonlar' bölümünde ilan edecektir. Ücretler, komisyonlar bölümünde ilan edildiği andan itibaren geçerlilik kazanacaktır. Site’nin komisyonlar bölümüne http://tomya.com/komisyonlar adresinden ulaşılabilmektedir. Kullanıcı, iş bu sözleşmenin kabul ve onaylanması ile bu işlem ücretinin alınmasını kabul etmiş sayılacaktır.</p>
        <p class="txtaline">5.2. Tomya, her alış-satış işlemlerinde kullanıcılarından kendi belirlediği bir oran üzerinden komisyon (hizmet bedeli) alma hakkına sahiptir ve Tomya, zaman zaman bu ücretler ve oranlar üzerinde değişiklik yapma hakkına sahiptir. Bu değişiklik sitede yayınladığı andan itibaren işleme alınacaktır.</p>
        <p class="txtaline">5.3. Sanal para transferleri iade edilemez, dolayısıyla Tomya tarafından tahsis edilen komisyon veya işlem ücretlerinin iadesi mümkün değildir ve kullanıcıların bu ücretlerin iadesini isteme hakkı bulunmamaktadır. Kullanıcı, hatalı yaptığını düşündüğü bu işlemlerden dolayı Tomya’yı gayri kabili rücu ettiğini beyan ve taahhüt eder.</p>
        <p class="txtaline txtheader">6. SÖZLEŞME DEĞİŞİKLİKLERİ</p>
        <p class="txtaline">Tomya bu yasal uyarı ve akitte yer alan tüm koşulları ve hükümleri önceden bir ihbara gerek kalmaksızın değiştirme ve güncelleme hakkına tek taraflı olarak haizdir. Kullanıcı, işbu sözleşmeyi kabul ile Tomya tarafından yapılacak bu değişlikleri de önceden kabul ettiğini beyan ve taahhüt eder. Tomya tarafından Site üzerinde ilan edildiği tarihte yürürlük kazanır.</p>
        <p class="txtaline txtheader">7. UYGULANACAK HUKUK VE YETKİ</p>
        <p class="txtaline">Sitenin kullanımından doğan ve/veya yasal uyarıda yer alan koşul ve hükümlere ilişkin ve/veya bu site ile bağlantılı olarak çıkabilecek uyuşmazlıklarda işbu Kullanım Sözleşmesi ve Türkiye Cumhuriyeti Hukuku esas olup, İstanbul Mahkemeleri ve İcra Daireleri yetkilidir.</p>
        <p class="txtaline txtheader">8. GİZLİLİK POLİTİKASI</p>
        <p class="txtaline">8.1. Tomya, İş bu sözleşmenin kullanıcı tarafından kabul ve onaylanması halinde, Kullanıcıların şahsi bilgilerini (kimlik, fatura, adres, e-mail, telefon vb.) yasal zorunluluklar veya kullanıcının açık rızası haricinde üçüncü şahıslara vermeyeceğini taahhüt eder. Ancak Tomya, bu sözleşmeye tabi işi devam ettirmek, sürdürmek ve genişletmek için üçüncü taraf firmalarla anlaşmalar yapabilir veya işbirliği yapabilir (örneğin: bağlı kuruluş, çekilişler.) Bu tür anlaşmalar yapıldığında, kullanıcı kişisel verilerinin üçüncü şahıs firmalarla paylaşılması konusunda olumlu, açık onay vermektedir. Kullanıcı, kişisel veri paylaşımından/ transferinden kaynaklanan her türlü zarar veya ziyandan Tomya’nın sorumlu tutulamayacağını kabul ve beyan eder.</p>
        <p class="txtaline">8.2. Kullanıcıların vermiş olduğu bilgiler Kullanım Sözleşmesi’nde belirtilen kurallar, şartlar ve amaçlar dışında herhangi bir kapsamda kullanılmayacak, üçüncü şahıslarla paylaşılmayacaktır.</p>
       <p class="txtaline"> 8.3.Kullanıcı, siteyi Türkiye Cumhuriyeti yasaları ve tüm mevzuatı kapsamında kullanacağını taahhüt eder. Yasalara aykırı kullanım halinde Tomya, kullanıcıya ait tüm bilgileri yetkili merciler ile paylaşma hakkına ve yetkisine sahiptir. Bu husus gizliliğin ihlali kapsamında değerlendirilemez ve Tomya’ya her hangi bir sorumluluk atfedilemez.</p>
       <p class="txtaline">8.4. Kanun, KHK, Yönetmelik vb. yetkili hukuki makamlar tarafından çıkarılan ve yürürlükte bulunan yazılı hukuk kurallarının getirdiği zorunluluklara uyulmasının gerektiği hallerde, Tomya’nın kullanıcılarıyla arasındaki sözleşmelerin gereklerinin yerine getirilmesi ve bunların uygulamaya konulmalarıyla ilgili hallerde, Kullanıcıların haklarını veya güvenliklerini koruma amacıyla bilgi verilmesinin gerekli olduğu hallerde, Yetkili idari ve/veya adli makamlar tarafından usuli yöntemine uygun olarak yürütülen bir araştırma veya soruşturma doğrultusunda kullanıcılarla ilgili bilgi talep edilmesi hallerinde Tomya kullanıcının bilgilerini 3. kişilere açıklayabilecektir.</p> 
        <p class="txtaline">8.5 Tomya, Site içerisinde başkaca sitelere link(bağlantı) sağlayabilir. Anlaşmalı olduğu 3. Partilerin reklamlarını ve/veya çeşitli hizmetlere ilişkin başvuru formlarını yayınlayabilir, Kullanıcıları bu formlar ve reklamlar aracılığıyla reklam veren veya anlaşmalı 3. partilerin sitesine yönlendirebilir. Tomya, bu bağlantı yoluyla erişilen diğer sitelerin gizlilik uygulama ve politikalarına ya da barındırdıkları içeriklere yönelik olmak üzere hiç bir sorumluluk taşımamaktadır.</p>
        <p class="txtaline">8.6. Kullanıcıların IP adreslerini, Site'ye erişim sağladıkları cihazların modellerini, işletim sistemlerini ve tarayıcı bilgilerini tespit etmekte ve kayıt altına almaktadır. Tomya, bu kayıtları kullanıcıları genel bir şekilde tanımlamak ve kapsamlı demografik bilgi toplamak, sistem ve kullanıcı hesap güvenliğini sağlamak, sahtecilik ile mücadele etmek ve kanuni yükümlülüklere uymak amaçları için kullanabilir.</p>
        <p class="txtaline">8.7.Site üzerinde sunulan her tür içerik, üçüncü partilerden ve kamuya açık kaynaklardan toplanan verilerden oluşmaktadır. Tüm veriler, analizler, raporlar, istatistikler her hangi bir düzenleme veya yönlendirme olmadan bilgileri otomatik işleme tabi tutmuş bir yazılım tarafından işlenmekte ve objektif olarak sunulmaktadır. Tomya tarafından sunulan her türlü haber ve raporlar sadece bilgilendirme ve tavsiyeye yöneliktir ve kesin doğruluğu garanti edilmemektedir. Verilerin bir biriyle çelişkili veya tutarsız olması olası olup bu tür durumlardan dolayı Tomya’nın hiçbir ad altında sorumluluğu bulunmamaktadır.</p>
        <p class="txtaline txtheader">9. SÖZLEŞMENİN YÜRÜRLÜĞÜ VE FESHİ</p>
        <p class="txtaline">9.1. İşbu Sözleşme kullanıcı tarafından elektronik ortamda onay kabulü ile birlikte yürürlüğe girecek ve taraflardan herhangi biri tarafından aşağıda belirtilen şekilde feshedilmediği sürece yürürlükte kalacaktır.</p>
        <p class="txtaline">9.2. Taraflardan her biri, Sözleşme süresince dilediği zamanda işbu Sözleşme yi feshedebilecektir. Mevzuat değişiklikleri ve yasal düzenlemeler gerektirdiği takdirde Tomya Sözleşmeyi herhangi bir tazminat yükümlülüğü söz konusu olmaksızın derhal sona erdirebilecektir.</p>
       <p class="txtaline"> 9.3. Kullanıcının işbu Sözleşme’de yer alan hükümlere ve sitede beyan edilen kural ve şartlara uymaması, kullanıcının faaliyetlerinin ya da varsa siteye dahil ettiği herhangi bir içeriğin hukuki, teknik ve bilgi güvenliği anlamında risk oluşturması ya da üçüncü kişilerin şahsi ve ticari haklarına halel getirici mahiyette olması halinde Tomya, kullanıcının siteyi kullanımını askıya alabilir. Tomya tarafından yapılan bildirime karşılık söz konusu aykırılığın giderilmemesi halinde ise işbu Sözleşme Tomya tarafından feshedilebilecektir. İşbu Sözleşme’de açıkça belirtilen haller ile bilgi güvenliğine ilişkin riskler ve yasaya aykırı işlem şüphesi bulunan hallerde Tomya Sözleşmeyi ve kullanıcının site kullanımını bahsi geçen şekilde bir bildirim yapmaksızın ve süre vermeksizin doğrudan sona erdirebilir. Kullanıcının bu nedenle Tomya’dan herhangi bir talebi söz konusu olamaz.</p>
       <p class="txtaline"> 9.4. İşbu Sözleşme’nin feshi halinde Tomya, Kullanıcı hesabında bloke olmaması durumunda, kullanıcının site hesabındaki TL tutarları kullanıcı tarafından en son sağlanan banka hesabına, Kripto Para tutarları ise kullanıcının sağlayacağı Kripto Para Adresine iletecektir.</p>
       <p class="txtaline"> 10.Site kapsamında hiçbir bir şekilde hukuk, vergi veya yatırım danışmanlığı sağlanmamaktadır. Siteden erişilen bilgilendirme araçları yalnızca kullanıcılara site üzerinden gerçekleştirilen alış ve satış işlemlerine ilişkin genel bilgilendirme sağlamayı hedeflemekte olup bu araçlar hiçbir şekilde Tomya tarafından sağlanan yatırım eğitim veya danışmanlığı olarak yorumlanamayacaktır.
        Kullanıcının gerçekleştirmeyi düşündüğü işlemin kişisel amaçlarına ve finansal durumuna uygun olup olmadığına ilişkin kararlar ve bunlardan doğan riskler tamamen Kullanıcının sorumluluğunda olup site üzerinden kullanıcılar tarafından gerçekleştirilen işlemler hangi amaçla gerçekleştirilmiş olursa olsun Tomya’nın bunların sonuçlarına ilişkin herhangi bir sorumluluğu bulunmamaktadır.</p>
      </h6>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
</ng-template>
<ng-template #tcshow2 let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body text-center">
    <div  class="text-center">
      <i ><h4></h4></i>
    </div>
    <div>
      <h6 class="batchmsg scrollTC">
 Tomya Teknoloji Anonim Şirketi (Bundan sonra "Tomya, Şirket" olarak anılacaktır.)  tarafından, 6698 sayılı Kişisel Verilerin Korunması Kanunu’nun ilgili hükümlerine uygun olarak bilginize sunulan “Kişisel Verilerin Korunması ve İşlenmesi Dair Sözleşme” ve “Aydınlatma Metni” sınırları çerçevesinde; kişisel verilerinizin “Tomya” tarafından işlenme amacı ile sınırlı olmak üzere işlenmesine, gereken süre zarfında saklanmasına, aktarılmasına, güncellenmesine açık rızanızın olduğunu ve bu hususta tarafınıza gerekli, sade ve anlaşılır bir bilgilendirme yapıldığını kabul etmektesiniz. Ayrıca iş bu metni, Kişisel Verilerin Korunması ve İşlenmesi Dair Sözleşme ve Aydınlatma Metnini okuduğunuzu, anladığınızı ve kabul ettiğinizi beyan etmektesiniz. 
Yazılım ve türevi hizmetler sağlamayı öncelik edinmiş Şirketin içinde bulunduğu sektör, çalışma alanı, ticaret hacmi ve etkileşim içinde olduğu iş ağı göz önüne alındığında; yurtdışında  faaliyet gösteren şirketlerden hizmet alımı veya yabancı şirketlerle iş ortaklığı ya da uluslararası düzeyde bir projeye dahil olma gibi durumlar söz konusu olabilmektedir. Dijital hizmetleri kapsayan ve global çapta müşteri kitlesi olan bir pazarda, bahsedilen tarzda işbirlikleri şirketin hem ticari istikbali hem de meşru menfaati yönünden kaçınılmaz olabilmektedir. Şirketin bu tür operasyonları dolayısıyla şirket ile aranızdaki sözleşme kapsamında vermiş olduğunuz kişisel nitelikteki verilerin yurtdışına transferi durumu söz konusu olacaktır. Dolayısıyla, kişisel nitelikli veri grubuna dahil olan bilgilerinizin aktarılması gerekli olduğu takdirde KVKK’nın 9. Maddesinde öngörülen koşullar da gözetilerek kullanıcı sözleşmesi kapsamında elde ettiğimiz kişisel nitelikteki verileriniz aktarılabilecektir. 
Hiçbir gerekçe göstermeksizin ve dilediğiniz zaman, göndereceğiniz elektronik iletilerde belirtilen ret işlemini gerçekleştirerek ilgili ticari elektronik iletişimini durdurabileceksiniz. Ayrıca açık rızanıza dayanarak kişisel verilerinizin işlendiği hallerde ise açık rızanızı her zaman geri çekerek açık rızaya dayanan kişisel veri işleme süreçlerini durdurabileceğiniz hususlarında da bilgilendirildiğinizi kabul ve beyan etmektesiniz. Ticari iletişime ilişkin olarak kişisel verilerinizin işlenmesine ve verdiğiniz iletişim bilgileri ile ileride güncellediğiniz takdirde güncel iletişim bilgilerinizin “Tomya” tarafından her türlü özel-genel ağlar ve diğer elektronik iletişim araçları ile tarafınıza ticari elektronik ileti gönderilmesine izin ve onay vermektesiniz.


      </h6>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
</ng-template>
<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="login-text text-blue">
      <span class="p-3 mb-0" style="color: #564fdc; font-size:23px;">{{'HOME.OTPVERF'|translate}}</span>
      <img class="logo" src ="./assets/img/Tomya-Pro-White.svg" alt="">
    </div>
  </div>
  <div class="modal-body">
    <p class="text-center">{{'HOME.ENTEROTP'|translate}}</p>
    <div class="form-group">
    
      <input class="" id="loginInputOTP" type="password" [(ngModel)]="otp" name="otp" placeholder="OTP" (keyup)="checkmailOtp()" required>
    </div>
    <a href="javascript:void(0)" (click)="resendOtp()" class="float-left">{{'HOME.RESNDOTP'|translate}}</a>
  </div>
  <p>{{'HOME.OTPMSG'|translate}}</p>
  <div>
   
  </div>
  
 
  <div class="modal-footer">
  
   
  </div>
</ng-template> -->
<!-- 
<ng-template #content let-modal class="container" >
  <div class="modal-header">
    <h4  class="p-3 mb-0" style="color: #564fdc; font-size:23px;" id="modal-basic-title">{{'HOME.OTPVERF'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-center">{{'HOME.ENTEROTP'|translate}}</p>
    <input class="inutbox-w" id="loginInputOTP" type="password" [(ngModel)]="otp" name="otp" placeholder="OTP" (keyup)="checkmailOtp()" required>
  </div>
  <div>
   
  </div>
  <div class="modal-footer">
    <p>{{'HOME.OTPMSG'|translate}}</p>
   
  </div>
</ng-template>
 -->

 <ng-template #content let-modal class="modal-body-dailog">
  <div class="modal-header test modal-header-dialog-box proper-alighnment-header">
    <h4 class="modal-title" id="modal-basic-title">{{'HOME.OTPVRFEML'|translate}}</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <p class="text-center">{{'HOME.ENTEROTP'|translate}}</p>
      <input id="loginInputOTP" type="password" [(ngModel)]="otp" name="otp" placeholder="OTP" (keyup)="checkmailOtp()" required>
    </div>
    <!-- <div>
      <button type="button" (click)="resendOtp()" class="float-right resend-otp-btn">{{'HOME.RESNDOTP'|translate}}</button>
    </div> -->
  <div class="modal-body test language-class">
    <div><p>{{'HOME.OTPMSG'|translate}}</p></div>
    <button type="button" (click)="resendOtp()" class="float-right resend-otp-btn">{{'HOME.RESNDOTP'|translate}}</button>
  </div>

</div>
</ng-template>


