a{
    padding: 0 0.2em;
}
.nav-tabs .nav-link {
    border: none;
    color: gray !important;

}
.batchmsg{
    color:dimgrey;
}
.receiveText{
    color: #ea4704;
}
.custom-bg-dark .mywallet_filter_btn{
background-color: #2f2f39;
color: #fff;
border: 1px solid #45454b;
}
