.btn-green {

  margin-left: 9px;
}
html {
  scroll-behavior: smooth;
}

#section2 {
  height: 600px;
  background-color: pink;
}
.btn-green-paynow{
  background: #549426 !important;
  border-radius: 1.25rem !important;
}
