<app-navbar></app-navbar>

<app-loader></app-loader>

<div class="content-wrapper pt-0">
  <div class="container-fluid left-container_fluid">
    <!-- button toggle -->
    <div class="row">
      <div class="col">
        <button type="button" class="btn drag-btn-proper btn-info-dashboard btn-sm {{chart?'active':''}}" (click)="chart=!chart">
          <!-- <i class="chart" aria-hidden="true"></i> -->
            <em><img src="../../assets/img/icon1.png"></em>
          <span class="btntitle">{{'HOME.CHART'|translate}}</span>
        </button>
        <button type="button" class="btn drag-btn-proper btn-info-dashboard btn-sm {{orderbook?'active':''}}" (click)="orderbook=!orderbook">
          <em><img src="../../assets/img/icon2.png"></em>
          <span class="btntitle">{{'HOME.ORDERBOOK'|translate}}</span>
        </button>
        <button type="button" class="btn drag-btn-proper btn-info-dashboard btn-sm {{stoploss?'active':''}}" (click)="stoploss=!stoploss">
          <em><img src="../../assets/img/icon3.png"></em>
          <span class="btntitle">{{'HOME.REPORT'|translate}}</span>
        </button>
        <button type="button" class="btn drag-btn-proper btn-info-dashboard btn-sm {{trade?'active':''}}" (click)="trade=!trade">
          <em><img src="../../assets/img/icon4.png"></em>
          <span class="btntitle">{{'HOME.TRADE'|translate}}</span>
        </button>
      </div>
      <div class=""></div>
      <div class="col text-right">
        <app-chart class="dpr"></app-chart>

          <!-- <button class="btn btn-primary btn-sm widget screen-col" id="night" style="display:none"
         ><img src="../../assets/Moon_emoji_icon_png_grande.png" width="20"
            alt="Snow"></button>
        <button class="btn btn-primary btn-sm widget screen-col" id="light" style="display:block"
         ><img src="../../assets/sun_PNG13426.png" width="20" alt="Snow"></button>
        <button type="button" class="btn btn-primary btn-sm widget" [class.active]="drag" (click)="drag=!drag"
          placement="bottom" ngbTooltip="Enable draggable feature">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i>
          <span class="btntitle">Drag</span>
        </button>
        <button type="button" class="btn btn-primary btn-sm widget" [class.active]="data.resize"
          (click)="data.resize=!data.resize" placement="bottom" ngbTooltip="Enable resizable feature">
          <i class="fa fa-expand" aria-hidden="true"></i>
          <span class="btntitle">Resize</span>
        </button> -->
        <button class="btn btn-primary day-light-btn btn-sm widget screen-col" id="night" style="display:none"
          (click)="changebg(false)"><img src="../../assets/Moon_emoji_icon_png_grande.png" width="20"
            alt="Snow"></button>
        <button class="btn btn-primary day-light-btn btn-sm widget screen-col" id="light" style="display:block"
          (click)="changebg(true)"><img src="../../assets/img/icon7.png" width="20" alt="Snow"></button>

        <button *ngIf="translate.currentLang == 'English'" type="button" id="drag-btn" class="drag-btn-alighnment btn btn-primary btn-sm widget" [class.active]="drag" (click)="drag=!drag"
          placement="bottom" ngbTooltip="Enable draggable feature">
          <!-- <i class="fa fa-arrows-alt" aria-hidden="true"></i> -->
          <em><img src="../../assets/img/icon5.png"></em>
          <span class="btntitle">{{'HOME.DRAG'|translate}}</span>
        </button>

        <button *ngIf="translate.currentLang != 'English'" type="button" id="drag-btn" class="drag-btn-alighnment btn btn-primary btn-sm widget" [class.active]="drag" (click)="drag=!drag"
          placement="bottom" ngbTooltip="Süreklemeye İzin Ver">
          <!-- <i class="fa fa-arrows-alt" aria-hidden="true"></i> -->
          <em><img src="../../assets/img/icon5.png"></em>
          <span class="btntitle">{{'HOME.DRAG'|translate}}</span>
        </button>

        <button *ngIf="translate.currentLang == 'English'" type="button" id="resize-btn" class="drag-btn-alighnment btn btn-primary btn-sm widget" [class.active]="data.resize"
          (click)="data.resize=!data.resize" placement="bottom" ngbTooltip="Enable resizable feature">
          <!-- <i class="fa fa-expand" aria-hidden="true"></i> -->
          <em><img src="../../assets/img/icon6.png"></em>
          <span class="btntitle">{{'HOME.RESIZE'|translate}}</span>
        </button>

        <button *ngIf="translate.currentLang != 'English'" type="button" id="resize-btn" class="drag-btn-alighnment btn btn-primary btn-sm widget" [class.active]="data.resize"
        (click)="data.resize=!data.resize" placement="bottom" ngbTooltip="Boyutlandırmaya İzin Ver">
        <!-- <i class="fa fa-expand" aria-hidden="true"></i> -->
        <em><img src="../../assets/img/icon6.png"></em>
        <span class="btntitle">{{'HOME.RESIZE'|translate}}</span>
      </button>
        <!-- <button type="button" class="sun" id ="sun" [class.active]="sun" (click)="sun" placement="bottom" ngbTooltip="Light Mode">
    </button>
    <button type="button" class="moon" [class.active]="moon" id ="moon" (click)="moon" placement="bottom" ngbTooltip="Night Mode">
    </button> -->
      </div>
    </div>

    <div class="row d-flex order_row_ml">
      <!-- <div class="col-md-7 col-lg-6"> -->
      <div class="col-md-7 col_md_7_new">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 mt-1 align-self-stretch dchart" [class.drg]="drag"
          [ngDraggable]="drag" *ngIf="chart">
            <app-tv-chart-container></app-tv-chart-container>
          </div>
        </div>
      </div>
      <div class="col-md-5 ordercol-md-5">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12 mt-1" [class.drg]="drag" [ngDraggable]="drag" *ngIf="orderbook">
            <app-order-book></app-order-book>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex order_row_ml">
      <div class="col-md-7 col_md_7_new">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-12 pr-xl-0 padding-2" [class.drg]="drag" [ngDraggable]="drag" *ngIf="trade">
            <app-trades></app-trades>
          </div>
        </div>
      </div>
      <div class="col-md-5 ordercol-md-5">
        <div class="row">

          <div class="col-xl-12 col-lg-12 col-12" [class.drg]="drag" id="stp" [ngDraggable]="drag"
            *ngIf="stoploss">
            <app-stop-loss></app-stop-loss>
          </div>
        </div>

      </div>


      <!-- </div>
        <div class="row d-flex"> -->


    </div>
  </div>
</div>

