.profile-picture{
    width: 70px;
    height: 70px !important;
    border-radius: 50% !important;
    position: relative;
    top: -8px;
}
.back-side-addressproof{
    margin-top: -19px;
}
.profile-picture-addressproof{
    top: -30px;
}
.btn-green-savechanges{
    background: #549426 !important;
    border-radius: 1.25rem !important;
    width: 145px;
    margin-top: 6px;
}
#id_form{
    padding: 0 15px;
}
.image-modification{
    width: 50%;
    /* height: 0; */
}
.image-alighnment{
width: 50%;
height: 0;
}
.identitity-alighnment{
    padding-right:5px !important;
}

