
.btn-green-savechanges{
    background: #549426 !important;
    border-radius: 1.25rem !important;
    width: auto;
    padding: 6px 22px;
    text-transform: uppercase;
    font-size: 17px;
    position: relative;
    left: -12px;
}
.settings-alighnment{
    background: #31313a;
    padding:24px;
}
.mb-alighnment{
    margin: 1px !important;
}
.twofabutton{
    position: absolute;
    right: 16px;
}
.border-alighnment{
    border:0;
}
.button-alighnment{
    position: relative;
}
.twofactorbutton{
    position: relative;
}